//***** Variables.SCSS *****//
// Dealer Branding //
$primary: #1e73be;
$secondary: #8224e3;
$tertiary: #dd9933;
// Links //
$link: #dd3333;
$body_link: #1e73be;
$link-hover: #601640;
// Light through Dark //
$dark: #333;
$medium-dark: #999;
$medium: #aaa;
$medium-light: #ccc;
$light: #f1f1f1;
// White and Black and Transparent //
$white: #fff;
$black: #000;
$trans-black: rgba(0,0,0,0.5);
$trans-black-low: rgba(0,0,0,0.2);
$trans-white: rgba(255,255,255,0.5);
$trans-white-low: rgba(255,255,255,0.2);
$trans: rgba(0,0,0,0);
// Borders //
$light-border: #c2c2c2;
// Header //
$primary-nav-link: #444;
$primary-nav-link-action: #EF4023;
$primary-nav-link-active: #ccc;
$util-nav-link: #ccc;
$util-nav-link-action: #EF4023;
$util-nav-link-active: #fff;
// Footer //
$footer-nav-link-action: #EF4023;
// Watkins Branding //
$hotspring: #009AA6; //Lagoon (Teal)
$hotspring-blue: #0039A6; //Royal Blue
$caldera:#D93B20; //Vibrant Orange
$caldera-light: #F47A55; //Light Orange
$fantasy: #13BFBF;
$freeflow: #3498DB;
