 .footer-5 {

   .TWLA-pre-footer {
     padding: 0;
   }

   .gencontent.fcount1 {
    //  border-right: 1px solid rgba(255, 255, 255, 1);
   }

   .gencontent {
     padding-right: 10px;
   }

  a[title="icon-Financing"],
   li#menu-item-1000661 a {
      background-image: url(../dist/img/footer-icons/financing.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Brochure"],
   li#menu-item-1002091 a {
      background-image: url(../dist/img/footer-icons/brochure.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Trade-In"],
   li#menu-item-1000541 a{
      background-image: url(../dist/img/footer-icons/trade-in.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Pricing"],
   li#menu-item-1000660 a {
      background-image: url(../dist/img/footer-icons/pricing.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Test-Soak"],
   li#menu-item-1000843 a {
      background-image: url(../dist/img/footer-icons/test-soak.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Buyers-Guide"],
   li#menu-item-1000844 a {
      background-image: url(../dist/img/footer-icons/buyers-guide.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }
  a[title="icon-Service"],
   li#menu-item-1000659 a {
      background-image: url(../dist/img/footer-icons/service.png);
      padding-top: 70px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      display: inline-block;
  }

   // DARK ICONS

   a[title="icon-Financing-dark"],
   .dark ul li#menu-item-1000661 a {
       background-image: url(../dist/img/footer-icons/financing-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Brochure-dark"],
   .dark ul li#menu-item-1002091 a {
       background-image: url(../dist/img/footer-icons/brochure-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Trade-In-dark"],
   .dark ul li#menu-item-1000541 a{
       background-image: url(../dist/img/footer-icons/trade-in-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Pricing-dark"],
   .dark ul li#menu-item-1000660 a {
       background-image: url(../dist/img/footer-icons/pricing-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Test-Soak-dark"],
   .dark ul li#menu-item-1000843 a {
       background-image: url(../dist/img/footer-icons/test-soak-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Buyers-Guide-dark"],
    .dark ul li#menu-item-1000844 a {
       background-image: url(../dist/img/footer-icons/buyers-guide-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }
   a[title="icon-Service-dark"],
   .dark ul li#menu-item-1000659 a {
       background-image: url(../dist/img/footer-icons/service-dark.png);
       padding-top: 70px;
       background-size: 60px;
       background-repeat: no-repeat;
       background-position: 50% 0%;
       display: inline-block;
   }



  footer section.maps div.gencontent-wrap.cf h3 {
    margin-bottom: 20px;
  }

  .footer-title{
      color: white;
      text-align: center;
      margin-bottom: 1em;
      margin-top:2em;
  }
  .copy-right{
      color: white;
      padding-top: 1em;
      font-size: .8em;
      display: inline-block;
  }
   .social-button a {
      position: relative;
      display: inline-block;
      height: 45px;
      width: 45px;
      background-size: cover;
      margin:0;
      margin-left: 0.75em !important;
  }

   .social-button {
      display:inline-block;
      max-width: 100%;
      float: left;
      text-align:center;
      width:100%;

  }

.facebook-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/facebook-icon.jpg);
}
.youtube-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/youtube-icon.jpg);
}
.yelp-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/yelp-icon.jpg);
}
.houzz-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/houzz-icon.jpg);
}
.insta-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/insta-icon.jpg);
}
.gplus-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/gplus-icon.jpg);
}
.twitter-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/twitter-icon.jpg);
}
.linkedin-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/linkedin-icon.jpg);
}

  .social-button a:after {
  }


  .footer {
      background: $footer-primary-bg;
      color: $white;
      padding: 48px 0;
      font-size: 17px;
      letter-spacing: 2px;
      line-height: 1.7;
  }
  .footer a {
      font-size: 17px;
      text-transform: uppercase;
      color: $white;
      display: block;
      line-height: 1.7;
      letter-spacing: 2px;
  }

  .footer a:hover,
  .footer a:active,
  .footer a:focus
  {
      text-decoration: underline;
      color: $white;
  }

  .copyright {
      line-height: 1;
  }

  .made-by {
      clear: both;
  }

  .made-by a{
      font-size: 13px;
  }

  .category-contact {
      background-color: $dark;
      border-bottom: 1px solid $medium;
      color: $white;
      padding: 60px 0;
  }

  .category-contact > .row {
      max-width: 960px;
  }

  .category-contact h2 {
      color: $white;
      margin: 0 0 40px 0;
      line-height: 1.1;
  }

  .category-contact .row > h2.title {
      text-align: center;
  }

  .category-contact p {
      margin: 0;
      font-size: 20px;
  }

  .category-contact p.description {
      color: $white;
  }

  .footer-main .row {
      max-width: 1100px !important;
  }

  .category-contact ul#menu-footer-contact-footer  {
      text-align: center;
      margin: 0 0 60px 0;
      background: $footer-secondary-bg;
      padding: 10px 0;
      font-size: 0;
  }

  .category-contact ul#menu-footer-contact-footer li {
      display: inline-block;
      margin: 0;
      border-bottom: none;
      vertical-align: top;
  }

   .TWLA-pre-footer .menu li a {
    color: $footer-nav-link !important;
  }

   .TWLA-pre-footer .menu li a:hover {
    color: $footer-nav-link-action !important;
  }


  .category-contact ul#menu-footer-contact-footer li a {
      color: $footer-nav-link !important;
      font-weight: bold;
      padding-top: 20px;
      background-color: $footer-primary-bg;
      padding: 20px 30px;
      margin-bottom: 10px;
      border-right: 2px solid $dark;
      font-size: 18px;
  }
  .category-contact ul#menu-footer-contact-footer li.current-menu-item a {
      color: $footer-nav-link-active !important;
  }

  .category-contact ul#menu-footer-contact-footer li:first-child a {
      border-radius: 50px 0 0 50px;
  }

  .category-contact ul#menu-footer-contact-footer li:last-child a {
      border-right: none;
      border-radius: 0 50px 50px 0;
  }

  .category-contact ul#menu-footer-contact-footer li a:hover {
      /*background: $footer-secondary-bg;*/
      color: $footer-nav-link-action !important;
  }

  .category-contact .social-button a {
      color: $white;
  }

  .category-contact .social-button a:hover {
      /*color: $footer-secondary-bg;*/
      color: $footer-nav-link-action;
  }

  .contact-address {
      padding: 20px 0;
      text-align: center;
  }

  .nav-bar .large-3.small-8.columns {
      padding: 0 15px;
  }

  .contact-detail {
      padding: 0;
      color: $white;
      text-align: center;
  }

  .contact-map > p {
      padding: 0 40px;
      margin: 0;
  }

  .single-product .TWLA-pre-footer{
      margin-top: 50px;
  }

  div#map-overlay {
    height: 100%;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
  }

  iframe#map {
    position: relative;
    top: -45px;
    border: medium none;
    border-radius: 15px;
    overflow: hidden !important;
  }

  .social-button {
    text-align: center !important;
    padding-bottom: 0.75em !important;
  }

  /************************************************/
  /****** RESPONSIVE STYLES ***********************/
  /************************************************/
  @media only screen and (min-width: 90.063em) {


      .contact-text {
          text-align: left;
      }


      .contact-text {
          margin-left: 63px;
          margin-top: 0;
      }


      .footer {
          padding: 48px 0;
          font-size: 20px;
          line-height: 1.2;
      }
      .footer a {
          font-size: 20px;
          text-transform: uppercase;
          display: inline-block;
      }

      .footer a:hover {
          color: $white;
      }

      .copyright {
          border-right: 1px solid $white;
          padding-right: 30px;
          margin-left: 2px;
          margin-right: 13px;
      }
  }

  @media only screen and (min-width: 64.063em) and (max-width: 90em) {


      .social-button,
      .contact-text {
          text-align: left;
      }

      .contact-text {
          margin-left: 0;
          padding-left: 0;
          padding-right: 0;
          margin-top: 0;
      }

      .footer {
          padding: 48px 0;
          font-size: 20px;
          line-height: 1.2;
      }
      .footer a {
          font-size: 20px;
          text-transform: uppercase;
          display: inline-block;
      }

      .footer a:hover {
          color: $white;
      }


      .copyright {
          border-right: 1px solid $white;
          padding-right: 30px;
          margin-left: 2px;
          margin-right: 13px;
      }



  }

  @media only screen and (min-width: 40.063em) and (max-width: 64em) {



      .footer {
          padding: 46px 0;
          font-size: 19px;
          line-height: 1.8;
      }

      .footer a {
          font-size: 19px;
          text-transform: uppercase;
          color: $white;
      }

      .footer a:hover {
          color: $white;
      }


      .contact-text {
          margin-left: -30px;
          padding-left: 34px;
          padding-right: 33px;
          margin-top: -40px;
      }

      .copyright {
          display: block;
      }

       .contact-map > p {
          max-width: 650px;
           margin: 0 auto;
      }

  }

  footer.footer5 .gmap iframe {
    position:relative;
    top: -46px;
  }

  iframe#map {
    min-height:300px;
  }


  ul#menu-footer-lower-footer {
      text-align:center;
  }


  @media screen and (max-width:1024px) {


       .social-button {
          margin: 0 auto;
          width:100%;
          text-align:center;
          padding-bottom: 20px;
      }

      .footer-main {
          text-align: center;
      }

      .category-contact ul#menu-footer-contact-footer li a { padding: 20px; }

  }

  @media screen and (max-width:720px) {
      .category-contact ul#menu-footer-contact-footer { padding: 0; }
      .category-contact ul#menu-footer-contact-footer li { display: block; height: 50px; }
      .category-contact ul#menu-footer-contact-footer li:hover { background: $footer-primary-bg;}
      .category-contact ul#menu-footer-contact-footer li a { font-size: 20px; padding:0; display:block; background: transparent; border: none; line-height: 50px;}
  }

  @media screen and (max-width:640px) {
      /*.category-contact ul#menu-footer-contact-footer li a {padding: 20px 20px; }
      .social-button { width: 100%; margin-bottom: 40px;}
      .social-button a { display: block; }
      .social-button a:after { top: 0px; right: 43%;}*/
      .contact-map iframe { height: 300px; border: 1px solid black;pointer-events:none; }
  }

  @media screen and (max-width:480px) {
      /* .category-contact ul#menu-footer-contact-footer { padding: 0; }
      .category-contact ul#menu-footer-contact-footer li { display: block; height: 50px; }
      .category-contact ul#menu-footer-contact-footer li:hover { background: $footer-primary-bg;}
      .category-contact ul#menu-footer-contact-footer li a { font-size: 20px; padding:0; display:block; background: transparent; border: none; line-height: 50px;}*/
      .contact-map iframe { height: 200px; }

  }

  @media screen and (max-width:465px) {
      .contact-map iframe { display: none; }
  }
  @media screen and (max-width:410px) {
      .TWLA-pre-footer .columns {
  //        float: left !important;
          float: none !important;
          margin: 0 auto;
      }
  }
  @media screen and (min-width:410px) {
      .TWLA-pre-footer .columns {
          float: left !important;
  //        float: none !important;
  //        margin: 0 auto;
      }
  }


  /* ------------------------- TWLA styles ----------------------- */
  .TWLA-pre-footer {
      background: $footer-secondary-bg;
      // background-color: $footer-primary-bg;
      // background: $footer-bg-image;
      // background-repeat: $footer-bg-image-repeat;
      // background-size: $footer-bg-image-size;
      // padding: 60px 0;
  }
  //    .TWLA-pre-footer .columns {
  //        float: left !important;
  ////        float: none !important;
  ////        margin: 0 auto;
  //}
      .TWLA-pre-footer .TWLA-title {
          color: $white;
          margin: 0;
          padding: 0 0 20px;
          text-align: center;
          text-transform: none;
          font-weight: bold;
          margin-bottom: .5em!important;
      }
      .TWLA-pre-footer .menu {
          border-bottom: 1px solid $white;
          font-size: 0;
          list-style: none;
          margin: 0 0 30px!important;
  //        padding: 0 0 30px;
          text-align: left;
      }
          .TWLA-pre-footer .menu li {
              display: inline-block;
              vertical-align: top;
              text-align: center;
              width: 13%;
  //            margin-bottom: 60px;
          }
              .TWLA-pre-footer .menu li a {
                  color: $footer-nav-link;
                  font-size: 18px;
                  letter-spacing: 1px;
                  -webkit-transition: all 0.2s ease-out;
                     -moz-transition: all 0.2s ease-out;
                      -ms-transition: all 0.2s ease-out;
                       -o-transition: all 0.2s ease-out;
                          transition: all 0.2s ease-out;
              }
              .TWLA-pre-footer .menu li a:hover,
              .TWLA-pre-footer .menu li a:focus { color: $footer-nav-link-action; }
              .TWLA-pre-footer .menu li a:active { color: $footer-nav-link-active; }
                  .TWLA-pre-footer .menu li a img { max-height: 80px; width: auto; }
          .TWLA-pre-footer .TWLA-footer-info p {
              color: $footer_text;
              letter-spacing: 1px;
              line-height: 24px;
              text-align: center;
          }

          .TWLA-pre-footer .TWLA-footer-info h3 {
            color: $footer_text;
          }

          .fifty50 {
            color: $footer_text;

          }

  footer { background: $footer-primary-bg; padding: 30px 0 30px; }
      footer .additional-footer-menu {
          font-size: 0;
          list-style: none;
          margin: 0;
          padding: 20px 0 10px;
      }
          footer .additional-footer-menu li {
              border-right: 1px solid #ffffff;
              display: inline-block;
              line-height: 1 !important;
              margin-bottom: 10px;
              padding: 0 10px;
          }
          footer .additional-footer-menu li:nth-last-child(1) { border: none;}
              footer .additional-footer-menu li a {
                  color: $white;
                  font-size: 14px;
                  letter-spacing: 0.5px;
                  -webkit-transition: all 0.2s ease-out;
                     -moz-transition: all 0.2s ease-out;
                      -ms-transition: all 0.2s ease-out;
                       -o-transition: all 0.2s ease-out;
                          transition: all 0.2s ease-out;
              }
              footer .additional-footer-menu li a:hover,
              footer .additional-footer-menu li a:focus,
              footer .additional-footer-menu li a:active { color: #FF8673; }

      footer .made-by a {
          color: $white;
          -webkit-transition: all 0.2s ease-out;
             -moz-transition: all 0.2s ease-out;
              -ms-transition: all 0.2s ease-out;
               -o-transition: all 0.2s ease-out;
                  transition: all 0.2s ease-out;
      }
      footer .made-by a:hover,
      footer .made-by a:focus,
      footer .made-by a:active { color: #FF8673; }
      footer .made-by img {
          margin: -6px 6px 0 4px;
          max-width: 16px !important;
      }

   h2.footer-title {
    color: $footer_text;
  }

   .contact-info h3 {
    color: $footer_text;
  }

  /*-=Small screens=-*/
      @media only screen and (max-width: 40em) {
          .TWLA-pre-footer .columns,
          footer .columns { padding: 0 15px; }
          .TWLA-pre-footer { padding: 25px 0; }
          .TWLA-pre-footer .TWLA-title { font-size: 34px; }
  //        .TWLA-pre-footer .menu { margin: 0 0 30px; }
          .TWLA-pre-footer .menu li { padding: 0 0 20px; width: 33%; }
          .TWLA-pre-footer .menu li a { font-size: 14px; }
          .TWLA-pre-footer .menu li a img { max-height: 60px; }

          .TWLA-footer-info iframe { height: 300px; }

      } /* max-width 640px and lower. Use this for mobiles only */

  /*-=Medium screens=-*/
      @media only screen and (min-width: 40.063em) {

          .TWLA-pre-footer .menu{
              text-align: center;
              padding-bottom: 32px
          }



      }  /* min-width 641px */


      @media only screen and (min-width: 40.063em) and (max-width: 64em) {
          .TWLA-pre-footer { padding: 40px 0 60px; }
          .TWLA-pre-footer .TWLA-title { font-size: 34px; }
          .TWLA-pre-footer .menu li a { font-size: 14px; }
          .TWLA-pre-footer .menu li a img { max-height: 60px; }

          .TWLA-footer-info iframe { height: 300px; }


      } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

      @media only screen and (max-width: 64em) {

         .TWLA-pre-footer div.contact-info p,
         .TWLA-footer-info .contact-info h3, {
          text-align:center !important;
        }

      } /* max-width 1024px and lower */

  /*-=Large screens=-*/
      @media only screen and (min-width: 64.063em) {

           .TWLA-pre-footer .TWLA-title {
              font-size: 48px;
          }
           .TWLA-pre-footer div.contact-info p{
              text-align: right;
          }






      } /* min-width 1025px, large screens */



      @media only screen and (min-width: 64.063em) and (max-width: 78.125em) {

      } /* min-width 1025px and max-width 1250px, large screens */

      @media only screen and (min-width: 78.125em) {

      } /* min-width 1250px, large screens */

}
