
@media only screen and (min-width:1024px){
    .header6 .mobile{
        display: none!important;
    }
    .header6 header.desktop.nav{
        display: block;
        height: 175px;
        background-repeat: repeat-x;
        background-position: 0px 130px;
        background-color: $header-primary-bg !important;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        background: $header-bg-image;
    		background-repeat: $header-bg-image-repeat;
    		background-size: $header-bg-image-size;
        
    }
    .header6 header .container,
    .header6 header .ds-nav-container.desktop {
        position: relative;
        height: 100%;
        padding-top: 45px;
    }


    .header6 header.desktop.nav h1{
        height: 40px;
        overflow: hidden;
        width:  auto;
        display: block;
        padding: 0!important;
    }
   .header6  header.desktop.nav h1 a{
        display: inline-block;
        width: auto;
        height: 100%;
       text-indent: -999em;
    }
   .header6 header.desktop.nav h1 a img{
        height: 100%;
        width: auto;
        display: block;
       margin-top: -1.4em;
    }
    .header6 nav.global.nav{
        height: 45px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $header-secondary-bg;
    }
    .header6 nav.global.nav div.container,
    .header6 .global.nav .ds-nav-container
    {
        margin: 0 auto;
        position: relative;
        text-align: center;
        height: 100%;
        padding-top: 0;
    }
    .header6 nav.global.nav ul{
        height: 100%;
        margin: 0!important;
    }
    .header6 nav.global ul li{
        list-style: none;
        display: inline-block;
        height: 100%;
        margin-left: -4px;
        position: relative;
    }
    .header6 nav.global ul li:first-child a{
        border-left: 1px solid rgba(255,255,255,.25);
    }
    .header6 nav.global ul li a:hover{
        background-color: $primary-nav-bg-hover;
        color: $primary-nav-link-hover !important;
    }
    .header6 nav.global ul li a{
        height: 100%;
        color: $primary-nav-link !important;
        padding: 11px 0 0;
        border-right: solid 1px rgba(255,255,255,.25);
        display: block;
    }
    .header6 nav.utilities.nav{
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0;
    }
    .header6 nav.utilities.nav .container{
        max-width: 1800px;
        margin: 0 auto;
        position: relative;
        padding-top: 0;
    }

    .header6 nav.utilities.nav .ds-nav-container {
      margin: 0 auto;
      position: relative;
      padding-top: 0;
    }

    .header6 nav.utilities.nav .themenu{
        margin: 0;
        padding: 0em 2em 0em;
        background-color: $header-secondary-bg;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: auto;
        float: right;
        font-weight: bold;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    }
    .header6 nav.utilities.nav ul{
        float: left!important;
        margin: 0!important;
        padding: 0!important;
        height: auto!important;
    }
    .header6 nav.utilities.nav ul li{
        display: block;
        float: left;
    }
    .header6 nav.utilities.nav ul li a{
        color: $util-nav-link !important;
        border-right: 1px solid rgba(255,255,255,.25);
        padding: .5em 1em;
        display: inline-block;
        font-size: .8em;
    }

    .header6 nav.utilities.nav ul li a:hover {
      color: $util_action !important;
    }

    .header6 .cart-search-combo{
        float: left;
    }
    .header6 nav.utilities .cart-search-combo a.cart{
        float: left;
        height: 34px;
        position: relative;
        padding: 0 .75em;
        border-right: 1px solid rgba(255,255,255,.25);
    }
    .header6 nav.utilities .cart-search-combo a.cart span{
        position: absolute;
        top:6px;
        left: 23px;
        line-height: 1px;
        color: white;
        background-color: black;
        border-radius: 50%;
        padding:5px 3px;
        font-size: 8px;
    }
    .header6 nav.utilities .cart-search-combo a.cart img{
        float: right;
        height: 1.1em;
        width: auto;
        margin-top: 8px;
    }
    .header6 nav.utilities .cart-search-combo a.the-search-icon{
        text-indent: -990em;
        height: 17px;
        width: 17px;
        float: left;
        display: block;
        background-size: cover;
        margin: 7px 13px;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
    }
    .header6 .head-text{
        float: left;
        color: #fff;
        border-left: 1px solid rgba(255,255,255,.25);
        padding: 0.35em 1em;
        display: inline-block;
        font-size: 0.8em !important;
        margin-bottom: 0px;
        font-weight: bold;
    }
    .header6 nav ul li:hover > ul{
        display: block;
    }
    .header6 nav ul ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto!important;
        background-color: $primary-nav-bg;
        z-index: 10;
        display: none;
        border: 0px;
    }
    .header6 nav ul ul li{
        width: 100%!important;
        display: block!important;
        border: 0px;
        margin-left: 0!important;
    }
    .header6 nav ul ul li:first-child a{
        border-left: 0px!important;
    }
    .header6 nav ul ul li a{
        border: 0px;
        display: block!important;
        border-right: 0px!important;
        border-left: 0px!important;
        text-align: left;
        padding: .5em 1em!important;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
    .header6 nav ul ul ul{
        position: relative;
    }
    .header6 nav ul ul ul li a{
        padding-left: 1.5em!important;
    }
    .header6 nav ul ul ul ul li a{
        padding-left: 2em!important;
    }
    .header6 ul.sub-menu li.menu-item-has-children span {
        content: '';
        position: absolute;
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid #fff;
    }

    .header6 ul.sub-menu li.menu-item-has-children.active > span{
        -webkit-transform: rotate(450deg);
        -moz-transform: rotate(450deg);
        -ms-transform: rotate(450deg);
        -o-transform: rotate(450deg);
        transform: rotate(450deg);
    }
//    .header6 ul.sub-menu li.menu-item-has-children span{
//        position: absolute;
//        top: 3px;
//        right: 0;
//        height: 35px;
//        width: 35px;
//        background-image: url('../dist/img/dropdown-triangle.png');
//        background-position: 50% 50%;
//        background-size: 15px;
//        background-repeat: no-repeat;
//        -webkit-transform: rotate(270deg);
//        -moz-transform: rotate(270deg);
//        -ms-transform: rotate(270deg);
//        -o-transform: rotate(270deg);
//        transform: rotate(270deg);
//    }
    .header6 nav ul ul li.active > ul{
        display: block!important;
    }
    .header6 nav ul ul ul{
        display: none!important;
    }
}

@media only screen and (max-width:1024px) {
  .header6 .head-text {
    display: none !important;
  }
}
