.vl-item:nth-of-type(1){
    padding-top: 2em;    
}
.vl-item{
    padding: 1em 0;
    max-width: 960px;
    margin: 0 auto;
}
.vl-item:last-of-type{
    padding-bottom: 3em;
}
.vl-item img{
    width:100%;
    height: auto;
}
.vl-item .the-image{
    padding: 0 1em;    
}
.vl-item .the-content{
    padding: 1em 1em 0;
}
.page-template-template-visuallist .title.page-title{
    text-align: left;
    margin-top: .5em;
    margin-bottom: 0;
}
.page-template-template-visuallist .breadcrumbs .row > span {
    padding: 0;
}
@media only screen and (min-width:1025px){
    .vl-item.imgp_right .fifty-50{
        width: 50%;
        float: right;
    }
    .vl-item.imgp_right .the-content{
        text-align: right!important;
        padding: 0em 1em 0 0em;
    }
    .vl-item .fifty-50{
        width: 50%;
        float: left;
    }
    .vl-item .the-content{
        padding: 0em 0 0 1em;
    }
}