.quote-section {
    padding: 60px 0;
    text-align: center;
}

.page-template-template-categories .quote-section {
    padding: 0;
}

.quote-section img {
    margin-bottom: 16px;
}
.mobile-quotes img{
    display: none;
}
blockquote p {
    font-family:  'prelomedium_italic', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3 !important;
    font-style: italic !important;
}
blockquote  {
    font-family:  'prelomedium_italic', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3 !important;
    font-style: italic !important;
}

.collection-reviews p.description {
  margin: 0px 0px 25px !important;
  font-size: 25px;
}

.quote-section blockquote.review-title {
  font-weight: bold;
  font-size: 36px;
}

.quote-author {
    font-size: 15px!important;
    font-style: italic !important;
    margin-bottom: 30px !important;
}

body.home .collection-reviews a {
  color: #333333 !important;
}

body.home .collection-reviews a:hover {
  color: #ccc !important;
}

.collection-reviews a {
  color: #ccc !important;
}

.collection-reviews a:hover {
  color: white !important;
}

/*Reviews */
.mobile-quotes {
    display: none;
    text-align: center;
}

.quote-section img.review-score-img{
    display:block;
    margin: 0 auto 20px;
}

/*REVIEWS POPUP WINDOW*/

body.single-reviews .slick-track,
body.single-reviews .slick-initialized,
body.single-reviews .slick-slide {
  width: 100% !important;
}

/**************************/
/* SINGLE REVIEW TEMPLATE */
.single-reviews .sidebar {
    display: none;
}

.single-review-wrapper {
    text-align: center;
}

.single-review-wrapper h1.entry-title {
    padding: 0 0 20px 0;
    text-transform: capitalize;
}
.review-header {
    height: 100px;
    background: $primary;
    margin-bottom: 40px;
}

.review-header h1 {
    line-height: 100px;
    margin: 0;
    color: $white;
}

.single-reviews header,
.single-reviews footer,
.single-reviews .TWLA-pre-footer,
.single-reviews .category-contact,
.single-reviews .footer,
.single-reviews .right-off-canvas-toggle,
.single-reviews .hide-for-small {
    display: none !important;
}





/*************************************/
/***** RESPONSIVE STYLES *************/
/*************************************/
@media only screen and (min-width: 90.063em) {
    .quote-section {
        padding: 60px 0;
    }

    .quote-section img {
        margin-bottom: 37px;
    }

    blockquote p {
        font-size: 28px ;
        padding-left: 0px !important;
        padding-right: 0px !important;
        line-height: 1.3 !important;
    }
    blockquote  {
        font-size: 28px ;
        padding-left: 0px !important;
        padding-right: 0px !important;
        line-height: 1.3 !important;
    }
    .quote-author {
        font-size: 20px !important;
        margin-bottom: 35px !important;
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .quote-section {
        padding: 60px 0;
    }

    .quote-section img {
        margin-bottom: 37px;
    }

    blockquote p {
        font-size: 28px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.3 !important;

    }
    blockquote  {
        font-size: 28px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.3 !important;

    }
    .quote-author {
        font-size: 20px !important;
        margin-bottom: 35px !important;
    }


}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    .quote-section {
        padding: 60px 0;
    }

    .quote-section img {
        margin-bottom: 12px;
    }

    blockquote p {
        font-size: 29px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.3 !important;
    }
    blockquote  {
        font-size: 29px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.3 !important;
    }
    .quote-author {
        font-size: 20px !important;
        margin-bottom: 35px !important;
    }

}

@media screen and (max-width:640px) {
    /*Reviews*/
    .mobile-quotes { display: block; }

    .quote-section .small-1,
    .quote-section .xsmall-1{ display: none; }
    .right-quote, .left-quote { display: none; }
    .view-more-reviews { margin-bottom: 0px; }

}
