.jet-system.cat-page{
    margin-left: -1em;
}
/* Accessories Categories */
.tax-product_cat #sidebar { display: none; }
/* Categories Template */

.page-template-template-categories .sidebar {
     display: none;
 }

.page-template-template-categories .entry-title {
    display: none;
}

.page-template-template-categories .large-12 a {
    color: $tertiary;
}

.page-template-template-categories .large-12 {
   padding: 0;
}

.page-template-template-categories .row {
        max-width: 1400px;
}

.page-template-template-categories .row > h2.title {
    font-size: 45px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-align: center;
}

.page-template-template-categories .row >  h2.title + p.description {
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: $black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.page-template-template-categories .product-carousel h2.title {
   line-height: 1;
    margin: 0;
}

.page-template-template-categories .breadcrumbs{
    text-align: center;
    border-bottom: 1px solid $medium-light;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
 .breadcrumbs .row > span {
    float:none!important;
}

.cat-aspot {
    background-size: cover !important;
    background-position:25% 0% !important;
    position: relative;
    z-index: 3;
    height: 400px;
}
.cat-aspot > .row {
    height: inherit;
}
.cat-banner{
    margin-left: -1em;
    margin-right: -1em;
    width: calc(100%+2em);
}
.cat-banner-text {
    float: right;
    text-align: center;
    color: $white;
    width: 500px;
    max-width: 500px;
    /*padding: 8% 0;
    margin-right: 8%;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.cat-banner-text h2 {
    color: $white;
}

.cat-banner-cta {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: $primary;
  color: $white;
  font-weight: bold;
}

.cat-banner-cta:hover {
    background-color: $secondary;
}

.cat-page {
    background-color: $light !important;
    padding: 40px 0 !important;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
    position: relative;
}

.pool-banner { float: right; padding: 40px 0}
.pool-banner h2 { color: $white; margin: 0; line-height: 1; }
.pool-banner p {color: $white; }
.pool-banner a h3 { margin: 0; color: $primary; }
.pool-banner a:hover h3 { color: $tertiary; }
.pool-banner img { width: auto; height: 60px; border: 1px solid $dark;}
.pool-banner p.pool-sub-header {  }
.pool-banner .large-3.columns { padding-left: 0; }
.pool-banner .large-9.columns { padding-left: 0;}
.pool-banner > div { padding-bottom: 20px; }

.anchor-links-bar {
    background-color: $primary-nav-bg;
    padding: 10px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    z-index: 2;
	margin: 0;

}
.anchor-links-bar a:hover,
.anchor-links-bar-static a:hover,
.anchor-links-bar a,
.anchor-links-bar-static a{
    color: $primary-nav-link!important;
}
.anchor-links-bar-static {
    margin-left: -1em;
    margin-right: -1em;
    width: calc(100%+2em);
    background-color: $primary-nav-bg!important;
    padding: 10px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
}


.anchor-links-bar-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.anchor-links-wrapper {
    text-align: center;
}

.anchor-links-wrapper a.anchor-link-top {
    padding: 0 20px;
    border-right: 1px solid $white;
    font-weight: bold;
    text-transform: uppercase;
}

.anchor-links-wrapper a:hover {
    color: $white;
}

.anchor-links-wrapper a:last-child {
    border: none;
}

.product-models {
    padding: 40px 0 60px;
    background: url('http://shannons.wpengine.com/wp-content/uploads/2015/06/strip-white.jpg');
}

.product-models h2.title {
    margin: 0 0 40px 0;
    line-height: 1.1;
}

.product-preview {
    text-align: center;
}

.product-preview img {
    margin-bottom: 20px;
}

.product-high-spec {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}

.product-high-spec > a {
    color: $dark !important;
}

.product-high-spec > a:hover {
    color: $secondary !important;
}

.product-spec-link {
    width: 150px;
    padding: 10px 0;
    background-color: $primary;
    color: $white;
    margin: 0 auto;
    font-weight: bold;
}

.product-spec-link:hover {
    background: $secondary;
}

.page-template-template-categories .product-slider-box p.product-model-slide-title {
    font-size:22px;
    text-transform: capitalize;
}

.page-template-template-categories a.product-loop-link {
    color: $black !important;
}

.page-template-template-categories .product-carousel {

    /*background: url('/wp-content/uploads/2015/08/bgpattern10.png'); */
    background-color: $white;
}

/* Category Jet Systems  */

.jet-system li,
.single-product .jet-system li{
    background-color: transparent;
    border: none;
    border-top: 1px solid $dark;
}

.jet-system .acc-content {
  color: $dark;
}

.jet-system .ui-tabs-nav,
.single-product .jet-system .ui-tabs-nav{
    margin: 0;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child{
    border: none;
    border-top: 1px solid $dark;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li a,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a {
    color: $dark;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.jet-system .ui-tabs-vertical .ui-tabs-panel,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel {
    width: 100%;
    background-color: transparent;
    color: $dark;
    padding: 0px 0px 10px 55px;
}

.jet-system .ui-tabs-vertical .ui-tabs-panel img,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel img {
    width: 100%;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-bottom: none !important;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a {
    background-color: transparent;
    color: $dark;
    border-bottom: none !important;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li a:before,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before {
        color: $dark !important;
    padding-right: 20px;
    padding-left: 5px;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before {
    padding-right: 19px !important;
    padding-left: 0px !important;
}

.page-template-template-categories .prod-description h2.title,
.single-product .prod-description h2.title{
    margin-bottom: 50px;
}

.page-template-template-categories .prod-description h2.title,
.page-template-template-categories .prod-description p.description,
.single-product .prod-description h2.title,
.single-product .prod-description p.description{
    color: $white;
}

.page-template-template-categories .prod-description .tab-content h4.title,
.single-product .prod-description .tab-content h4.title {
    font-size: 30px;
}

.page-template-template-categories .prod-description {
    background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    background-color: $secondary;
    padding: 40px 0;
}

.page-template-template-categories .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

.page-template-template-categories .prod-description .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    text-align: center;
}

.page-template-template-categories .prod-description .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.page-template-template-categories .prod-description .ui-tabs-nav li a:hover,
.single-product .prod-description .ui-tabs-nav li a:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.page-template-template-categories .prod-description .ui-tabs-nav li:last-child a,
.single-product .prod-description .ui-tabs-nav li:last-child a
{
    margin-right: 0 !important;
}

.page-template-template-categories .prod-description .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

.page-template-template-categories .prod-description .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: $white;
    border: none !important;
    font-weight: bold;
    border: 4px solid $white !important;
    margin-right: 3%;
}

.page-template-template-categories .prod-description .ui-tabs-nav li a.more-than-5,
.single-product .prod-description .ui-tabs-nav li a.more-than-5
{
    margin-bottom: 10px;
}

.page-template-template-categories .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5,
.single-product .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5
{
    margin-right: 0;
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    background-color: $white !important;
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: $primary !important;
    text-decoration: none;
}



.page-template-template-categories .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}

.prod-description a {
    color: yellow;
}

.category-form {
    padding: 40px 0;
    background-size: cover !important;
    background-position: 70% 0% !important;
}

.category-form > row {
    max-width: 1400px;
}

.cat-form-wrapper {
    padding: 0 1.875em;
}

.cat-form-wrapper h2.title {
    text-align: center;
    margin: 20px 0 20px 0;
    line-height: 1.1;
}

.page-template-template-categories .ginput_container {
    margin: 0 0 10px;
}

.page-template-template-categories .inner-wrap input[type="text"] {
    height: 30px;
}

.page-template-template-categories .gform_footer.top_label {
    text-align: center;
}

.page-template-template-categories .inner-wrap input[type="submit"] {
    margin: 10px 0 !important;
}

.page-template-template-categories .contact-section {
    display: none;
}


/* Exclusive Features Block */
.prod-description div.tabs div.tab-content a{
    color: white;
    font-weight: bold;
}
.acc-content h4 {
    line-height: 1;
    margin: 15px 0 10px;
    color: #333;
}

.acc-content p {
    margin: 0 0 5px 0;
    color:#333;
}

.exclusive-features {
    padding: 40px 0;
}

.exclusive-features .row {
    max-width: 1250px;
}

#design-main-img {
    max-height: 500px;
    display: block;
    margin: 0 auto;
}
.feature-block-img {
    width: 100%;
    border: 1px solid $medium-light;
}
.feature-name {
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.page-template-template-categories .prod-description h2.title,
.single-product .prod-description h2.title{
    margin-bottom: 50px;
}

.page-template-template-categories .prod-description h2.title,
.page-template-template-categories .prod-description p.description,
.single-product .prod-description h2.title,
.single-product .prod-description p.description{
    color: $white;
}

.page-template-template-categories .prod-description .tab-content h4.title,
.single-product .prod-description .tab-content h4.title {
    font-size: 30px;
}

.page-template-template-categories .prod-description {
    background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    padding: 40px 0;
    background-color: $secondary;
}

.page-template-template-categories .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

.page-template-template-categories .prod-description .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    width: 100%;
    text-align: center;
}

.page-template-template-categories .prod-description .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.page-template-template-categories .prod-description .ui-tabs-nav li:hover,
.single-product .prod-description .ui-tabs-nav li:hover
{
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

.page-template-template-categories .prod-description .ui-tabs-nav li:last-child,
.single-product .prod-description .ui-tabs-nav li:last-child
{
    margin-right: 0 !important;
}

.page-template-template-categories .prod-description .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

.page-template-template-categories .prod-description .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: $white;
    /*border: none !important;*/
    font-weight: bold;
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active,
.single-product .prod-description .ui-tabs-nav li.ui-state-active
{
    /*background-color: $white !important; */
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

.page-template-template-categories .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: $primary !important;
    text-decoration: none;
}



.page-template-template-categories .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}

.page-template-template-categories .ginput_container {
    margin: 0 0 10px;
}

.page-template-template-categories .inner-wrap input[type="text"] {
    height: 30px;
}

.page-template-template-categories .gform_footer.top_label {
    text-align: center;
}

.page-template-template-categories .inner-wrap input[type="submit"] {
    margin: 10px 0 !important;
}

.page-template-template-categories .contact-section {
    display: none;
}


/* Product description / Explore Area */
.prod-description h2.title{
    /*text-transform: uppercase;*/
}
.prod-description .row.tab-nav{
  max-width: 1200px;
}
.prod-description .ui-tabs-nav{
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
.prod-description .ui-tabs-nav li{
  display: inline-block;
  padding: 20px 0;
  position: relative;
}
.prod-description .ui-tabs-nav li a{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding: 0 50px;
}
.prod-description .ui-tabs-nav li:last-child a{
  border-right: none;
}
.prod-description .ui-tabs-nav li.ui-state-active{

}
.prod-description .ui-tabs-nav li.ui-state-active:before{
  content: '';
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  left: -5px;
}
.prod-description .ui-tabs-nav li.ui-state-active a{

}
.prod-description .tab-content{

  padding: 62px 0 112px;
  font-size: 20px;
  line-height: 28px;
}
.prod-description .tab-content .row{
  max-width: 1400px;
}
.prod-description .tab-content .title{
  font-size: 20px;
  margin-bottom: 0;
}
.prod-description .tab-content .content p > a {
    font-weight: bold;
}

.prod-description .tab-content .content ul{
  list-style: disc;
  margin-left: 0;
  margin-bottom: 0;
}
.prod-description .tab-content .content ul li{
  margin-left: 36px;
  margin-bottom: 12px;
  position: relative;
    font-size: 18px;
}
.prod-description .tab-content .content ol li{

    font-size: 18px;
}
.prod-description .tab-content .content ul li:before{

}
.prod-description {
      background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    background-color: $primary;
}
/*Brand color BGs*/
.hot-spring .prod-description {
    background-color: $hotspring;
}
.caldera-spas .prod-description {
    background-color: $caldera;
}
.fantasy-spas .prod-description {
    background-color: $fantasy;
}
.freeflow-spas .prod-description {
    background-color: $freeflow;
}

.prod-description .image iframe { max-width: 532px; }
.prod-description .tab-content .content { padding: 0 3em 0 0; }

.prod-description h2.title {
    margin-bottom: 50px;
    text-align: center;
}

.prod-description h2.title,
.prod-description p.description {
    color: $white;
}

.prod-description .tab-content h4.title{
    font-size: 30px;
    color: $white;
}

.prod-description .tab-content .content ul li:before {

}

.prod-description {
    padding: 40px 0;
}

.prod-description .tab-content {
    background-color: transparent;
    color: $white;
}

.prod-description .ui-tabs-nav {
    text-align: center;
}

.prod-description .ui-tabs-nav li {
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 10px 0;
}

.prod-description .ui-tabs-nav li:hover a {
    background-color: rgba(255, 255, 255, 0.3);
}

.prod-description .ui-tabs-nav li:last-child {
    margin-right: 0;
}

.prod-description .ui-tabs-nav li a {
    padding: 0 30px;
    font-size: 20px;
    color: $white;
    border: none;
    font-weight: bold;
    border: 4px solid $white;
}

.prod-description .ui-tabs-nav li.ui-state-active a{
    background-color: $white ;
}

.prod-description .ui-tabs-nav li.ui-state-active:before {
    background-color: transparent;
}

.prod-description .ui-tabs-nav li.ui-state-active a {
    color: $dark;
    text-decoration: none;
}



.prod-description .tab-content {
    padding-top: 60px 0;
}


.prod-description .feature-media{

}

/* Sub Categories */
.page-template-template-sub-categories .sidebar{ display:none; }


@media screen and (max-width:1024px){
    .page-template-template-categories .prod-description .ui-tabs-nav li a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li a.more-than-5
    {
        margin-right: 3% !important;
    }

    .page-template-template-categories .prod-description .ui-tabs-nav li:last-child a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li:last-child a.more-than-5
    {
       margin-right: 0;
    }

    .prod-description .tab-content .content { padding: 0 1.875em; }

    .page-template-template-categories .product-carousel h2.title{ margin-bottom:40px; }
}


@media screen and (max-width: 640px){
    .anchor-links-bar { display:none; }
    .cat-banner-text{
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .page-template-template-categories .prod-description .ui-tabs-nav,
    .single-product .prod-description .ui-tabs-nav
    {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }

    .page-template-template-categories .prod-description .ui-tabs-nav li a,
    .single-product .prod-description .ui-tabs-nav li a {
       margin-right: 0 !important;
    }

    .page-template-template-categories .prod-description .ui-tabs-nav li a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li a.more-than-5
    {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .prod-description .feature-media{
        padding: 0;
    }

//    .exceptional-features-wrapper {padding: 0px 8em;}
}

@media screen and (max-width: 400px){
    .exceptional-features-wrapper {padding: 0;}
}

@media screen and (max-width: 320px){
    .page-template-template-categories .prod-description .ui-tabs-nav li a,
    .single-product .prod-description .ui-tabs-nav li a {
       margin-bottom: 0 !important;
    }
}
.jet-system .ui-tabs-vertical{
    max-width: 90%;
    margin: 0 auto;
}
#design-main-img{
    max-width: 90%;
}
.page-template-template-categories .row > h2.title + p.description{
    max-width: 90%;
}
@media screen and (min-width:700px){
    .jet-system .ui-tabs-vertical{
//        max-width: 70%;
        margin: 0 auto;
    }
    #design-main-img{
        max-width: 70%;
    }
    .page-template-template-categories .row > h2.title + p.description{
        max-width: 70%;
    }
}


.jet-system.cat-page{
    margin-left: -1em;
}
/* Accessories Categories */
.tax-product_cat #sidebar { display: none; }
/* Categories Template */

.page-template-page-watkins-product-category .sidebar {
     display: none;
 }

.page-template-page-watkins-product-category .entry-title {
    display: none;
}

.page-template-page-watkins-product-category .large-12 a {
    color: $tertiary;
}

.page-template-page-watkins-product-category .large-12 {
   padding: 0;
}

.page-template-page-watkins-product-category .row {
        max-width: 1400px;
}

.page-template-page-watkins-product-category .row > h2.title {
    font-size: 45px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-align: center;
}

.page-template-page-watkins-product-category .row >  h2.title + p.description {
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: $black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.page-template-page-watkins-product-category .product-carousel h2.title {
   line-height: 1;
    margin: 0;
}

.page-template-page-watkins-product-category .breadcrumbs{
    text-align: center;
    border-bottom: 1px solid $medium-light;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
 .breadcrumbs .row > span {
    float:none!important;
}

.cat-aspot {
    background-size: cover !important;
    background-position:25% 0% !important;
    position: relative;
    z-index: 3;
    height: 400px;
}
.cat-aspot > .row {
    height: inherit;
}
.cat-banner{
    margin-left: -1em;
    margin-right: -1em;
    width: calc(100%+2em);
}
.cat-banner-text {
    float: right;
    text-align: center;
    color: $white;
    width: 500px;
    max-width: 500px;
    /*padding: 8% 0;
    margin-right: 8%;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.cat-banner-text h2 {
    color: $white;
}

.cat-banner-cta {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: $primary;
  color: $white;
  font-weight: bold;
}

.cat-banner-cta:hover {
    background-color: $secondary;
}

.cat-page {
    background-color: $light !important;
    padding: 40px 0 !important;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
    position: relative;
}

.pool-banner { float: right; padding: 40px 0}
.pool-banner h2 { color: $white; margin: 0; line-height: 1; }
.pool-banner p {color: $white; }
.pool-banner a h3 { margin: 0; color: $primary; }
.pool-banner a:hover h3 { color: $tertiary; }
.pool-banner img { width: auto; height: 60px; border: 1px solid $dark;}
.pool-banner p.pool-sub-header {  }
.pool-banner .large-3.columns { padding-left: 0; }
.pool-banner .large-9.columns { padding-left: 0;}
.pool-banner > div { padding-bottom: 20px; }

.anchor-links-bar {
    background-color: $primary-nav-bg;
    padding: 10px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    z-index: 2;
	margin: 0;

}
.anchor-links-bar a:hover,
.anchor-links-bar-static a:hover,
.anchor-links-bar a,
.anchor-links-bar-static a{
    color: $primary-nav-link!important;
}
.anchor-links-bar-static {
    margin-left: -1em;
    margin-right: -1em;
    width: calc(100%+2em);
    background-color: $primary-nav-bg!important;
    padding: 10px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
}


.anchor-links-bar-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.anchor-links-wrapper {
    text-align: center;
}

.anchor-links-wrapper a.anchor-link-top {
    padding: 0 20px;
    border-right: 1px solid $white;
    font-weight: bold;
    text-transform: uppercase;
}

.anchor-links-wrapper a:hover {
    color: $white;
}

.anchor-links-wrapper a:last-child {
    border: none;
}

.product-models {
    padding: 40px 0 60px;
    background: url('http://shannons.wpengine.com/wp-content/uploads/2015/06/strip-white.jpg');
}

.product-models h2.title {
    margin: 0 0 40px 0;
    line-height: 1.1;
}

.product-preview {
    text-align: center;
}

.product-preview img {
    margin-bottom: 20px;
}

.product-high-spec {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}

.product-high-spec > a {
    color: $dark !important;
}

.product-high-spec > a:hover {
    color: $secondary !important;
}

.product-spec-link {
    width: 150px;
    padding: 10px 0;
    background-color: $primary;
    color: $white;
    margin: 0 auto;
    font-weight: bold;
}

.product-spec-link:hover {
    background: $secondary;
}

.page-template-page-watkins-product-category .product-slider-box p.product-model-slide-title {
    font-size:22px;
    text-transform: capitalize;
}

.page-template-page-watkins-product-category a.product-loop-link {
    color: $black !important;
}

.page-template-page-watkins-product-category .product-carousel {

    /*background: url('/wp-content/uploads/2015/08/bgpattern10.png'); */
    background-color: $white;
}

/* Category Jet Systems  */

.jet-system li,
.single-product .jet-system li{
    background-color: transparent;
    border: none;
    border-top: 1px solid $dark;
}

.jet-system .acc-content {
  color: $dark;
}

.jet-system .ui-tabs-nav,
.single-product .jet-system .ui-tabs-nav{
    margin: 0;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li:first-child{
    border: none;
    border-top: 1px solid $dark;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li a,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a {
    color: $dark;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.jet-system .ui-tabs-vertical .ui-tabs-panel,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel {
    width: 100%;
    background-color: transparent;
    color: $dark;
    padding: 0px 0px 10px 55px;
}

.jet-system .ui-tabs-vertical .ui-tabs-panel img,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-panel img {
    width: 100%;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    border-bottom: none !important;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a {
    background-color: transparent;
    color: $dark;
    border-bottom: none !important;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li a:before,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li a:before {
        color: $dark !important;
    padding-right: 20px;
    padding-left: 5px;
}

.jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before,
.single-product .jet-system .ui-tabs-vertical .ui-tabs-nav li.ui-state-active a:before {
    padding-right: 19px !important;
    padding-left: 0px !important;
}

.page-template-page-watkins-product-category .prod-description h2.title,
.single-product .prod-description h2.title{
    margin-bottom: 50px;
}

.page-template-page-watkins-product-category .prod-description h2.title,
.page-template-page-watkins-product-category .prod-description p.description,
.single-product .prod-description h2.title,
.single-product .prod-description p.description{
    color: $white;
}

.page-template-page-watkins-product-category .prod-description .tab-content h4.title,
.single-product .prod-description .tab-content h4.title {
    font-size: 30px;
}

.page-template-page-watkins-product-category .prod-description {
    background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    background-color: $secondary;
    padding: 40px 0;
}

.page-template-page-watkins-product-category .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    text-align: center;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a:hover,
.single-product .prod-description .ui-tabs-nav li a:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:last-child a,
.single-product .prod-description .ui-tabs-nav li:last-child a
{
    margin-right: 0 !important;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: $white;
    border: none !important;
    font-weight: bold;
    border: 4px solid $white !important;
    margin-right: 3%;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a.more-than-5,
.single-product .prod-description .ui-tabs-nav li a.more-than-5
{
    margin-bottom: 10px;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5,
.single-product .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5
{
    margin-right: 0;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    background-color: $white !important;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: $primary !important;
    text-decoration: none;
}



.page-template-page-watkins-product-category .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}

.prod-description a {
    color: yellow;
}

.category-form {
    padding: 40px 0;
    background-size: cover !important;
    background-position: 70% 0% !important;
}

.category-form > row {
    max-width: 1400px;
}

.cat-form-wrapper {
    padding: 0 1.875em;
}

.cat-form-wrapper h2.title {
    text-align: center;
    margin: 20px 0 20px 0;
    line-height: 1.1;
}

.page-template-page-watkins-product-category .ginput_container {
    margin: 0 0 10px;
}

.page-template-page-watkins-product-category .inner-wrap input[type="text"] {
    height: 30px;
}

.page-template-page-watkins-product-category .gform_footer.top_label {
    text-align: center;
}

.page-template-page-watkins-product-category .inner-wrap input[type="submit"] {
    margin: 10px 0 !important;
}

.page-template-page-watkins-product-category .contact-section {
    display: none;
}


/* Exclusive Features Block */
.prod-description div.tabs div.tab-content a{
    color: white;
    font-weight: bold;
}
.acc-content h4 {
    line-height: 1;
    margin: 15px 0 10px;
    color: #333;
}

.acc-content p {
    margin: 0 0 5px 0;
    color:#333;
}

.exclusive-features {
    padding: 40px 0;
}

.exclusive-features .row {
    max-width: 1250px;
}

#design-main-img {
    max-height: 500px;
    display: block;
    margin: 0 auto;
}
.feature-block-img {
    width: 100%;
    border: 1px solid $medium-light;
}
.feature-name {
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.page-template-page-watkins-product-category .prod-description h2.title,
.single-product .prod-description h2.title{
    margin-bottom: 50px;
}

.page-template-page-watkins-product-category .prod-description h2.title,
.page-template-page-watkins-product-category .prod-description p.description,
.single-product .prod-description h2.title,
.single-product .prod-description p.description{
    color: $white;
}

.page-template-page-watkins-product-category .prod-description .tab-content h4.title,
.single-product .prod-description .tab-content h4.title {
    font-size: 30px;
}

.page-template-page-watkins-product-category .prod-description {
    background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    padding: 40px 0;
    background-color: $secondary;
}

.page-template-page-watkins-product-category .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    width: 100%;
    text-align: center;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:hover,
.single-product .prod-description .ui-tabs-nav li:hover
{
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:last-child,
.single-product .prod-description .ui-tabs-nav li:last-child
{
    margin-right: 0 !important;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: $white;
    /*border: none !important;*/
    font-weight: bold;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active,
.single-product .prod-description .ui-tabs-nav li.ui-state-active
{
    /*background-color: $white !important; */
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

.page-template-page-watkins-product-category .prod-description .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: $primary !important;
    text-decoration: none;
}



.page-template-page-watkins-product-category .prod-description .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}

.page-template-page-watkins-product-category .ginput_container {
    margin: 0 0 10px;
}

.page-template-page-watkins-product-category .inner-wrap input[type="text"] {
    height: 30px;
}

.page-template-page-watkins-product-category .gform_footer.top_label {
    text-align: center;
}

.page-template-page-watkins-product-category .inner-wrap input[type="submit"] {
    margin: 10px 0 !important;
}

.page-template-page-watkins-product-category .contact-section {
    display: none;
}


/* Product description / Explore Area */
.prod-description h2.title{
    /*text-transform: uppercase;*/
}
.prod-description .row.tab-nav{
  max-width: 1200px;
}
.prod-description .ui-tabs-nav{
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
.prod-description .ui-tabs-nav li{
  display: inline-block;
  padding: 20px 0;
  position: relative;
}
.prod-description .ui-tabs-nav li a{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding: 0 50px;
}
.prod-description .ui-tabs-nav li:last-child a{
  border-right: none;
}
.prod-description .ui-tabs-nav li.ui-state-active{

}
.prod-description .ui-tabs-nav li.ui-state-active:before{
  content: '';
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  left: -5px;
}
.prod-description .ui-tabs-nav li.ui-state-active a{

}
.prod-description .tab-content{

  padding: 62px 0 112px;
  font-size: 20px;
  line-height: 28px;
}
.prod-description .tab-content .row{
  max-width: 1400px;
}
.prod-description .tab-content .title{
  font-size: 20px;
  margin-bottom: 0;
}
.prod-description .tab-content .content p > a {
    font-weight: bold;
}

.prod-description .tab-content .content ul{
  list-style: disc;
  margin-left: 0;
  margin-bottom: 0;
}
.prod-description .tab-content .content ul li{
  margin-left: 36px;
  margin-bottom: 12px;
  position: relative;
    font-size: 18px;
}
.prod-description .tab-content .content ol li{

    font-size: 18px;
}
.prod-description .tab-content .content ul li:before{

}
.prod-description {
      background: url('https://s3.amazonaws.com/wp-agilitysquared/myproductdata/wp-content/uploads/2015/08/bgpattern10.png');
    background-color: $primary;
}
/*Brand color BGs*/
.hot-spring .prod-description {
    background-color: $hotspring;
}
.caldera-spas .prod-description {
    background-color: $caldera;
}
.fantasy-spas .prod-description {
    background-color: $fantasy;
}
.freeflow-spas .prod-description {
    background-color: $freeflow;
}

.prod-description .image iframe { max-width: 532px; }
.prod-description .tab-content .content { padding: 0 3em 0 0; }

.prod-description h2.title {
    margin-bottom: 50px;
    text-align: center;
}

.prod-description h2.title,
.prod-description p.description {
    color: $white;
}

.prod-description .tab-content h4.title{
    font-size: 30px;
    color: $white;
}

.prod-description .tab-content .content ul li:before {

}

.prod-description {
    padding: 40px 0;
}

.prod-description .tab-content {
    background-color: transparent;
    color: $white;
}

.prod-description .ui-tabs-nav {
    text-align: center;
}

.prod-description .ui-tabs-nav li {
    background-color: transparent;
    /*border: 4px solid $white;*/
    padding: 10px 0;
}

.prod-description .ui-tabs-nav li:hover a {
    background-color: rgba(255, 255, 255, 0.3);
}

.prod-description .ui-tabs-nav li:last-child {
    margin-right: 0;
}

.prod-description .ui-tabs-nav li a {
    padding: 0 30px;
    font-size: 20px;
    color: $white;
    border: none;
    font-weight: bold;
    border: 4px solid $white;
}

.prod-description .ui-tabs-nav li.ui-state-active a{
    background-color: $white ;
}

.prod-description .ui-tabs-nav li.ui-state-active:before {
    background-color: transparent;
}

.prod-description .ui-tabs-nav li.ui-state-active a {
    color: $dark;
    text-decoration: none;
}



.prod-description .tab-content {
    padding-top: 60px 0;
}


.prod-description .feature-media{

}

/* Sub Categories */
.page-template-template-sub-categories .sidebar{ display:none; }


@media screen and (max-width:1024px){
    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li a.more-than-5
    {
        margin-right: 3% !important;
    }

    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav li:last-child a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li:last-child a.more-than-5
    {
       margin-right: 0;
    }

    .prod-description .tab-content .content { padding: 0 1.875em; }

    .page-template-page-watkins-product-category .product-carousel h2.title{ margin-bottom:40px; }
}


@media screen and (max-width: 640px){
    .anchor-links-bar { display:none; }
    .cat-banner-text{
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav,
    .single-product .prod-description .ui-tabs-nav
    {
        padding-left: 1.875em;
        padding-right: 1.875em;
    }

    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a,
    .single-product .prod-description .ui-tabs-nav li a {
       margin-right: 0 !important;
    }

    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a.more-than-5,
    .single-product .prod-description .ui-tabs-nav li a.more-than-5
    {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .prod-description .feature-media{
        padding: 0;
    }

//    .exceptional-features-wrapper {padding: 0px 8em;}
}

@media screen and (max-width: 400px){
    .exceptional-features-wrapper {padding: 0;}
}

@media screen and (max-width: 320px){
    .page-template-page-watkins-product-category .prod-description .ui-tabs-nav li a,
    .single-product .prod-description .ui-tabs-nav li a {
       margin-bottom: 0 !important;
    }
}
.jet-system .ui-tabs-vertical{
    max-width: 90%;
    margin: 0 auto;
}
#design-main-img{
    max-width: 90%;
}
.page-template-page-watkins-product-category .row > h2.title + p.description{
    max-width: 90%;
}
@media screen and (min-width:700px){
    .jet-system .ui-tabs-vertical{
//        max-width: 70%;
        margin: 0 auto;
    }
    #design-main-img{
        max-width: 70%;
    }
    .page-template-page-watkins-product-category .row > h2.title + p.description{
        max-width: 70%;
    }
}
