body.calspas {
  .top-body-content {
    img {
      @media (max-width: 677px) {
        display: block;
        width: 100%;
      }
    }
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 541px) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}


.section-block.calspas.spa-perfection {
  .gb-header {
    .content p {
      max-width: 750px;
      display: inline-block;
    }
  }
}

.section-block.calspas.calspas-loyal-customers {
  .gb-header {
    padding-top: 2em;
  }
  .gblocks {
    padding-bottom: 4em;
  }

  .general-block {
    padding: 1em 2em;
    .video-wrapper {
      position: relative;
      margin: 0;
      display: inline-block;
      width: 100%;
      padding: 0 0 50%;

      iframe {
      position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       width: 100%;
       height:100%;
      }
    }
  }
}
