ul.faq > li{
    margin-bottom: .75em;
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding-bottom: .75em;
    list-style: none;
}
ul.faq > li:before{
    content: '+  ';
    color: $primary;
}

.faq-entry {
    margin-top: 30px;
}

ul.faq li.current:before{
    content: '-  ';
}
ul.faq li a{
    font-size: 1em;
}
ul.faq li p{
    font-size: 1em;
}
ul.faq div.panel{
    max-height: 0px;
    overflow: hidden;
}
ul.faq li.current .panel{
    max-height: 1000px;
}

ul li ul, ul li ol {
  text-align: left;
  margin-left: 50px;
}

/* Blog Posts */
.page-template-template-blog main {
    padding: 0;
}
.page-template-template-blog h1.entry-title {
    padding-left:15px;
    margin: 0 ;
    line-height: 1;
}

.page-template-template-blog .breadcrumbs{
    border-bottom: 1px solid $medium-light;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.page-template-template-blog .entry-summary p a {
    color: $tertiary;
}
.post-section,
.post-sidebar,
.entry-left-side,
.entry-right-side {
    float:left;
}

.entry-right-side p {
    margin: 0 20px;
}

.single-post .content.row {
    padding: 40px 0;
}

.single-post .entry-content p {
    line-height: 1.8;
}
.single-post .entry-content a {
    color: $secondary;
}
.single-post .entry-content a:hover {
    color: $link-hover;
}

.single-post h1.entry-title {
    border-bottom: 1px solid $medium-light;
}

.post-section article {
    padding-bottom: 20px;
    border-bottom: 1px solid $light;
    margin-bottom: 20px;
}

.post-sidebar h4.title{
    margin: 0 0 20px 0;
    padding: 5px;
    background: $medium-light;
}

.single-post .type-post .comments{
    display: none;
}

time.updated {
  display:block;
  padding-bottom:10px;
}

.single-360-view .TWLA-pre-footer {
 display:none;
}
.video-wrap{
    text-align: center;
    padding-top: 3em;
}
.video-wrap iframe{
    display: inline-block;
//    width: 720px!important;
}
.entry-image { margin-bottom: 20px;
}



@media screen and (max-width:1024px){
    .entry-left-side { margin-bottom: 20px }
    .entry-right-side p {
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width:640px){
    .entry-right-side p {
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width:480px){
    /*.entry-left-side { display: none }   */
}
