@media only screen and (min-width:1024px){
	.header1 .the-header {
		background-color: #518caa!important;
	}

	.header1 .container {
		max-width: 1800px;
		margin: 0 auto;
		padding-left: 1em;
		padding-right: 55px;
	}
	.header1 h1 {
		text-indent: -999em;
		background-size: cover;
		background-position: 50% 50%;
		display: inline-block;
		width: 300px;
		height: 55px;
		vertical-align: top;
		margin: 26px 0;
		position: relative;
		top: -25px;
	}
		.header1 h1 a {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	.header1 .border {
		border-top: solid 5px $utility-nav-bg;
		position: absolute;
		top: 0;
		z-index: 0;
		width: 100%;
	}
	.header1 nav.utilities-nav{
        position: absolute;
        top: 0;
        height: 42px;
        width: 100%;

		p {
			color: #cff !important;
		}
		 li a {
			color: #fff !important;
			border-right: 1px solid rgba(255, 255, 255, .25);
			padding: 0.5em 1em;
			display: inline-block;
			font-size: 0.8em;
			text-transform: uppercase;
			line-height: 16px;
			height: 30px;
		}

		ul{
			margin: 0!important;
			display: inline-block;
			vertical-align: top;
    	}
		ul li{
			display: block;
			float: left;
		}
		.cart-search-combo{
      float: right;
			height: 30px;
		}
		.head-text {
			color: #fff !important;
			border-right: 1px solid rgba(255, 255, 255, .25);
			padding: 0.5em 1em;
			display: inline-block;
			font-size: 0.8em;
			text-transform: uppercase;
			line-height: 16px;
			height: 30px;
		}
		.float-right {
			margin: 0;
			padding: 0em 3em 0em;
			background-color: $utility-nav-bg;
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 50px;
			width: auto;
			float: right;
			font-weight: bold;
			letter-spacing: 1px;
			-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
			margin-right: 2em;
		}
    }



	.header1 div.mobile.nav, header.mobile {
		display: none;
	}
	.header1 header.desktop.nav {
		display: block!important;
		position: relative;
		padding-top: 42px;
		height: 130px;
		background-color: $header-primary-bg;
		background-image: $header-bg-image;
		background-repeat: $header-bg-image-repeat;
		background-size: $header-bg-image-size;
	}
	.header1 nav.global {
        display: inline-block;
        vertical-align: top;
        padding-top: 1.75em;
        padding-left: 0em;
		width: calc(100% - 303px);
    }
    .header1 nav.global ul {
            -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    }
	.header1 ul.main {
		float:right;
		li {
			float: left;
			list-style: none;
			display: inline-block;

		}
		li:last-child a {
    		border-right: none;
		}
		color: black;
		/* width: 777px; */
		margin: 0 auto;
        text-align: center;
		a {
			font-size: 1.1em;
			color: $primary-nav-link !important;
			margin: 0 0.75em;
		}
		a:hover {
        color: $primary-nav-link-action!important;
			display: block;
    	}


	}


	.header1 .float-right {
		float: right;
	}


	   .header1 a.cart{
        display: block;
        height: 30px;
        width: 40px;
        position: relative;
        padding: 0 0.45em;
        float: left;
        border-right: 1px solid rgba(255,255,255,.1);
		 z-index: 1;
    }
     .header1 a.cart img{
        width: 100%;
    }
    .header1 a.cart .the-cart-quantity{
        position: absolute;
        top: 2px;
        right: 3px;
        background-color: black;
        color: white;
        padding: 0.65em .35em;
        border-radius: 50%;
        line-height: 0px;
        font-size: 0.5em;
    }
    .header1 a.the-search-icon{
        display: block;
        text-indent: -999em;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: left;
        height: 28px;
        width: 40px;
        border-right: 1px solid rgba(255,255,255,.1);
		z-index: 1;
    }
    .header1 ul.main.nav li ul li ul:before{
        content: "";
        width: auto;
        height: auto;
    }
   .header1 ul.main.nav li ul:before{
        content: '▲';
        position: absolute;
        top: -23px;
        font-size: 20px;
        opacity: .95;
        width: 100%;
        height: auto;
        left: 10px;
       color: $primary-nav-bg;
    }
   .header1 ul li{
        position: relative;
    }
    .header1 ul.main.nav li:hover > ul{
//        display: block;
        visibility: visible;
        opacity: 1;
    }

    .header1 ul li ul{
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 120%;
        // left: -55%;
        z-index: 100;
        background-color: #555;
        height: auto;
        width: 205%;
        border-radius: 5px;
        border: 2px solid #555;
        -webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,.15);
        box-shadow: 0 0 8px 4px rgba(0,0,0,.15);
        margin: 0;
        transition: all 5.5 linear;
    }
    .header1 ul ul ul{
        position: relative;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        margin: 0;
        width: 100%;
        height: auto;
        display: none !important;
        background-color: transparent;
        -webkit-box-shadow: 0 0 0px 0px rgba(0, 0, 0, .15);
        box-shadow: 0 0 0px 0px rgba(0, 0, 0, .15);
        visibility: visible !important;
        opacity: 1 !important;
    }
    .header1 ul.main.nav ul li{
        display: block;
        width: 100%;
        float: none;
//        padding: 0 1em;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
    .header1 ul.main.nav ul li span{
        position: absolute;
        top: 2px;
        right: 3px;
        width: 31px;
        height: 34px;
        background-image: url("../dist/img/dropdown-triangle.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 14px;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        cursor: pointer;
    }
    .header1 ul.main.nav ul ul li a{
        padding-left: 1.75em;
    }
    .header1 ul.main.nav ul ul ul li a{
        padding-left: 2.25em;
    }
    .header1 ul.main.nav ul ul li:last-of-type{
        border-bottom: 0px;
    }
   .header1 ul.main.nav ul ul li:first-of-type{
        border-top: 1px solid rgba(255,255,255,.1);
    }
    .header1 ul.main.nav ul li.active > span:first-of-type{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .header1 ul.main.nav ul li.active > ul:first-of-type{
        display: block!important;
    }
    .header1 ul ul li{
        width: 100%;
        height: auto;
        float: none!important;
        display: block!important;
    }
    .header1 ul ul li a{
        display: block;
        width: 100%;
        height: 100%;
        padding: .25em .75em;
        text-align: left;
        margin: 0!important;
    }
}

.the-header ul.main.nav li:hover {
//    background-color: $primary_nav_bg_hover;
}

header.desktop.nav {
	z-index: 999;
}
