.gallery-page.slick-slider,
.gallery-page-nav.slick-slider {
  z-index:1;
}

.gallery-page{
    position: relative;
    z-index: 10;
}
.gallery-page .slick-track .slick-slide{
    width: 100%;
    height: 100%;
}
.gallery-page .slick-track .slick-slide img{
    width: 100%;
    height: auto;
}
.gallery-page-nav button,
.gallery-page button{
    position: absolute;
    height: calc( 100% - 8px );
    z-index: 12;
    top: 0;
    background-color: transparent;
    margin: 0!important;
    text-indent: -9999em;
    padding: 0 35px;
}
.gallery-page-nav .slick-prev,
.gallery-page .slick-prev{
    left: 0;
}
.gallery-page-nav .slick-next,
.gallery-page .slick-next{
    right: 0;
}
.gallery-page-nav .slick-prev:after,
.gallery-page .slick-prev:after {
    content: "<";
    color: $primary;
    opacity: .75;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    right: 0;
    text-indent: 0;
    background-color: white;
    border-radius: 50%;
    padding: 0.25em .7em;
}
.gallery-page-nav .slick-next:before,
.gallery-page .slick-next:before {
    content: ">";
    color: $primary;
    opacity: .75;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    text-indent: 0;
    background-color: white;
    border-radius: 50%;
    padding: 0.25em .7em;
}
.gallery-page-nav .slick-prev:after,
.gallery-page-nav .slick-next:before{
    top: 33%;
}
.gallery-page .caption a{
    color: white;
}
.gallery-page-nav .slick-slide{
    margin-right: 8px;
}
.gallery-page .caption{
    position: absolute;
    bottom: 0;
    max-height: 2em;
    z-index: 13;
    left: 5%;
    text-align: left;
    background: #424242;
    color: white;
    padding: .25em 1em 1em;
    max-width: 290px;
    overflow: hidden;
    transition-duration: 1s;
}
.gallery-page .caption:hover{
    max-height: 1000px;
}

/* GALLERY PAGE FIXES */
.gallery-page .slick-track {
    max-height: 1200px;
    overflow: hidden;
}
.gallery-page.slick-slider {
    z-index: 1;
    overflow: hidden;
    margin: 1px;
    border: solid 1px rgba(204, 204, 204, 0.05);
    max-width: 1000px;
    max-height: 800px !important;
    margin: 0 auto;
}
#gallery {
    text-align: center;
}
.gallery-page button, .gallery-page button:focus {
      background-color: transparent !important;
}
#gallery ul {
    display: inline-block;
}
.gallery-page .slick-slider {
      max-width: 1000px;
          margin: 0 auto;
}
.gallery-page .caption {
    display: none !important;
}
