
.overlap-bar {
	z-index: 8;
	// background: ;
	border-radius: 25px;
	padding: 1em;
	color: #000000;
	font-weight: bold;
	position: relative;
	border: solid 1px #535353;
	width: 35%;
	margin: -4% auto 0 auto;

	.row {
		display: flex;
    align-items: center;
    justify-content: center;
	}

	div.aspot-content {
		position:relative !important;
		min-height: initial;
		height: initial;

	}
	h2.aspot-page-title, h2.aspottext {
		text-transform: initial !important;
		font-weight: 800;
		font-family: arial, 'prelobold', sans-serif;
		margin-bottom: 0em !important;
	}
	&.logo {
		.aspot-content {
			margin-right: 0 !important;

		}
		img {
			padding-left: 2rem;
			float: left;
			width: initial !important;

			@media (max-width: 1024px) {
				padding-left: 0rem;
			}

		}
		h2 {
			color: #000000 !important;
		}
	}

	@media (max-width: 1366px) {

		width: 55%;
		margin: -6% auto 0 auto;
	}

	@media (max-width: 1024px) {
		margin: 0 auto 0 auto;
		width: 100%;
		border: none;
		border-radius: 0px;
	}

}


@media (max-width: 768px) {
	.overlap-bar .row {
		flex-direction: column;
	}

	.overlap-bar h2 {
		text-align: center;
	}
}

.overlap-bar.logo {
	div.aspot-content {
		text-align: initial !important;
	}
}


.seventy30-aspot {

	.aspot-content .hide-on-tablet {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		h2 {
			font-size: 2.5rem;
			margin-top: 1em;
		}
	}

	@media only screen and (min-width:1024px) {
		video {
			width: 50%;
		}
		div.aspot-content {
			width: 50% !important;
			right: -50%;
			height: 100% !important;
		}
		div.aspot-content:before {
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    width: 20px;
    height: 100%;
		position: absolute;
		}

		.img-container {
			width: 100%;
	    position: relative;
	    padding: 1em;
	    height: auto;
			}
		}
	@media only screen and (min-width:1400px) {
		video {
			width: 70%;
		}
		div.aspot-content {
			width: 30% !important;
			right: -70%;
		}
	}
}



/*CUBE FLIP*/
/* basic menu styles */
.block-menu {
	display: block;
	// background: #000;
/*margin-top: 50px;*/
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	// font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	/*font-size: 24px;*/
	padding: 18px 10px;
	line-height: 3px;

}

/* animation domination */
.block-menu a {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box,
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/*
	put the "front" and "back" elements into place with CSS transforms,
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(25px);
	color: $primary_link;
	// outline: 2px solid $primary_link;
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	// color: #ffe7c4;
	color: $primary_action;
	// outline: 2px solid $primary-nav-link-action;
}


.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// background: black;
	// background: #0698d5;

	padding: 12px 10px;
	color: $primary_link;
	pointer-events: none;
	box-sizing: border-box;
		// outline: 2px solid white;
}

.front, .back {
	background-color: $primary;
}

.video-header .overlay .container .the-content a,
.video-header .overlay .container .the-content a:hover {
	background-color: transparent !important;
}

.home section.video-header {
	width: 100%;
}

.aspot_anchor li a .bottom {
	margin-left: 0;
}

.aspot_anchor {
	z-index: 1;
}

.static-aspot {
	/* min-height: 430px;
	height: 500px; */
	background-size: cover;
}
.static-aspot .container {
	position: relative;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
.static-aspot .the-content {
	text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.75);
	font-size: 37px;
	letter-spacing: 3px;
	margin: 10px 0;
	text-transform: uppercase;
	line-height: 1;
	font-family: prelobold;
	text-align: center;
	position: absolute;
	bottom: 1em;
	padding-right: 1em;
	width: 100%;
	height: 100%;
}

.static-aspot .the-content h3 {
	color: white;
	position: absolute;
	bottom: 0.25em;
	max-width: 560px;
	font-size: 1.25em;
	line-height: 1em;
	text-shadow: 2px 3px 2.91px rgba(1, 1, 1, 0.75)
}
.static-aspot .the-content a {
    background-color: #1e73be;
    color: white !important;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5em 1em;
    font-size: 1.25em;
    border-radius: 1px;
    margin-top: 1em;
}
.static-aspot .the-content a:hover {
	background-color:#d93b20;
	color:white !important;
}
.static-aspot .the-content a:last-of-type {
	margin-bottom:0.5em;
}

@media only screen and (min-width:1025px) {
	.static-aspot .the-content {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		top: 0;
		height: 100%;
		left: auto;
	}
	.static-aspot .container .the-content .the-links {
		padding-right:1em;
		position:absolute;
		right:0;
		bottom:1.5em;
		width:400px;
	}
	.static-aspot .container .the-content .the-links a.vertical-center {
		margin-bottom:1.5em !important;
	}
	.static-aspot .container .the-content .the-links a:last-of-type {
		margin-top:0.5em !important;
	}

	.static-aspot .container .the-content .the-links a,
	.static-aspot .container .the-content .the-links a:hover {
		background-color: transparent !important;
	}

}

//.video-header .overlay .container .the-content a {
//    background-color: #1e73be;
//    color: white !important;
//    display: block;
//    max-width: 400px;
//    margin: 0 auto;
//    padding: 0.5em 1em;
//    font-size: 1.25em;
//    border-radius: 1px;
//    margin-top: 1em;
//}
