/*.social-button a {
    text-transform: uppercase;
    color: $white;
    font-size: 19px;
    line-height: 1.2;
}

.social-button a:hover {
    color: $white;
    text-decoration: underline;
}
*/
.social-button a {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background-size: cover;
}

.social-button {
    display:inline-block;
    max-width: 100%;
}

.facebook-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/facebook-icon.jpg);
}
.youtube-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/youtube-icon.jpg);
}
.yelp-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/yelp-icon.jpg);
}
.houzz-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/houzz-icon.jpg);
}
.insta-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/insta-icon.jpg);
}
.gplus-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/gplus-icon.jpg);
}
.twitter-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/twitter-icon.jpg);
}
.linkedin-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/linkedin-icon.jpg);
}

.pinterest-social {
    background: url(https://watkinsdealer.s3.amazonaws.com/Images/Icons/pin-icon.jpg);
}

.social-icon {
    margin-right:5px;
}
.social-button a:after {
    /*content: "";
    position: absolute;
    background: url(../dist/img/fb-icon.jpg);
    top: 0;
    right: 36%;
    width: 43px;
    height: 43px;
    margin-top: 40px;*/
}


.footer {
    background: $footer-secondary-bg;
    color: $footer-text;
    padding: 48px 0;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1.7;
}
.footer a {
    font-size: 17px;
    text-transform: uppercase;
    color: $footer-link;
    display: block;
    line-height: 1.7;
    letter-spacing: 2px;
}

.footer a:hover,
.footer a:active,
.footer a:focus
{
    text-decoration: underline;
    color: $footer-link-hover;
}

.copyright {
    line-height: 1;
}

.made-by {
    clear: both;
}
.made-by a span{
    font-size: 12px;
}



.category-contact {
    background-color: $footer-primary-bg;
    border-bottom: 1px solid $medium;
    color: $white;
    padding: 60px 0;
}

.category-contact > .row {
    max-width: 960px;
}

.category-contact h2 {
    color: $footer-text;
    margin: 0 0 40px 0;
    line-height: 1.1;
}

.category-contact .row > h2.title {
    text-align: center;
}

.category-contact p {
    margin: 0;
    font-size: 20px;
}

.category-contact p.description {
    color: $footer-text;
}

.footer-main .row {
    max-width: 1100px !important;
}

.category-contact ul#menu-footer-contact-footer  {
    text-align: center;
    margin: 0 0 60px 0;
    background: $footer-nav-bg;
    padding: 10px 0;
    font-size: 0;
}

.category-contact ul#menu-footer-contact-footer li {
    display: inline-block;
    margin: 0;
    border-bottom: none;
    vertical-align: top;
}

.category-contact ul#menu-footer-contact-footer li a {
    color: $footer-nav-link;
    font-weight: bold;
    padding-top: 20px;
    background-color: $footer-nav-item-bg;
    padding: 20px 30px;
    margin-bottom: 10px;
    border-right: 2px solid $footer-primary-bg;
    font-size: 17px;
}
.category-contact ul#menu-footer-contact-footer li.current-menu-item a {
    color: $footer-nav-link-active;
}

.category-contact ul#menu-footer-contact-footer li:first-child a {
    border-radius: 50px 0 0 50px;
}

.category-contact ul#menu-footer-contact-footer li:last-child a {
    border-right: none;
    border-radius: 0 50px 50px 0;
}

.category-contact ul#menu-footer-contact-footer li a:hover {
    /*background: $secondary;*/
    color: $footer-nav-link-action;
}

.category-contact .social-button a {
    color: $white;
}

.category-contact .social-button a:hover {
    /*color: $secondary;*/
    color: $footer-nav-link-action;
}

.contact-address {
    padding: 20px 0;
    text-align: center;
}

.nav-bar .large-3.small-8.columns {
    padding: 0 15px;
}

.contact-detail {
    padding: 0;
    color: $footer-text;
    text-align: center;
}

.contact-map > p {
    padding: 0 40px;
    margin: 0;
}

a[href^=tel], a[href^=tel]:hover{
    color: $footer-nav-link;
}

/************************************************/
/****** RESPONSIVE STYLES ***********************/
/************************************************/
@media only screen and (min-width: 90.063em) {

    /*.social-button a {
        text-transform: uppercase;
        color: $white;
        font-size: 20px;
        line-height: 1.2;
    }*/

    .social-button,
    .contact-text {
        text-align: left;
    }

    .contact-text {
        margin-left: 63px;
        margin-top: 0;
    }

    /*.social-button a {
        padding-right: 75px;
    }
    .social-button a:after {
        right: 0;
        margin-top: -10px;
    }*/

    .footer {
        padding: 48px 0;
        font-size: 20px;
        line-height: 1.2;
    }
    .footer a {
        font-size: 20px;
        text-transform: uppercase;
        display: inline-block;
    }

    .footer a:hover {
        color: $footer-link-hover;
    }

    .copyright {
        border-right: 1px solid $footer-text;
        padding-right: 30px;
        margin-left: 2px;
        margin-right: 13px;
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    /*.social-button a {
        text-transform: uppercase;
        color: $white;
        font-size: 20px;
        line-height: 1.2;
    }*/

    .social-button,
    .contact-text {
        text-align: left;
    }

    .contact-text {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    /*.social-button a {
        padding-right: 75px;
        padding-left: 0;
    }
    .social-button a:after {
        right: 0;
        margin-top: -10px;
    }*/

    .footer {
        padding: 48px 0;
        font-size: 20px;
        line-height: 1.2;
    }
    .footer a {
        font-size: 20px;
        text-transform: uppercase;
        display: inline-block;
    }

    .footer a:hover {
        color: $footer-link-hover;
    }


    .copyright {
        border-right: 1px solid $footer-text;
        padding-right: 30px;
        margin-left: 2px;
        margin-right: 13px;
    }



}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {



    .footer {
        padding: 46px 0;
        font-size: 19px;
        line-height: 1.8;
    }

    .footer a {
        font-size: 19px;
        text-transform: uppercase;
        color: $footer-link;
    }

    .footer a:hover {
        color: $footer-link-hover;
    }


    /*.social-button a {
        text-transform: uppercase;
        color: $white;
        font-size: 20px;
        line-height: 1.2;
    }

    .social-button,
    .contact-text {
        text-align: left;
    }

    .social-button {
        padding-left: 49px;
    }*/

    .contact-text {
        margin-left: -30px;
        padding-left: 34px;
        padding-right: 33px;
        margin-top: -40px;
    }

   /* .social-button a {
        padding-right: 91px;
        padding-left: 102px;
    }
    .social-button a:after {
        right: 0;
        margin-top: -12px;
    }
*/
    .copyright {
        display: block;
    }

     .contact-map > p {
        max-width: 650px;
         margin: 0 auto;
    }

}


@media screen and (max-width:1250px) {

    .category-contact h2 { padding: 0 20px; }

    .category-contact ul#menu-footer-contact-footer { padding: 0; }
    .category-contact ul#menu-footer-contact-footer li { display: block; height: 50px; border-bottom: 1px solid $primary; }
    .category-contact ul#menu-footer-contact-footer li:hover { background: $primary;}
    .category-contact ul#menu-footer-contact-footer li a { font-size: 20px; padding:0; display:block; background: transparent; border: none; line-height: 50px;}
}
@media screen and (max-width:1024px) {

    .footer-main {
        text-align: center;
    }

    .social-button {
        margin: 0 auto;
        width: 640px;
        padding-bottom: 20px;
    }

    //.category-contact ul#menu-footer-contact-footer li a { padding: 20px; }


}

@media screen and (max-width:720px) {

}

@media screen and (max-width:640px) {
    /*.category-contact ul#menu-footer-contact-footer li a {padding: 20px 20px; }
    .social-button { width: 100%; margin-bottom: 40px;}
    .social-button a { display: block; }
    .social-button a:after { top: 0px; right: 43%;}*/
    .contact-map iframe { height: 300px; border: 1px solid black;pointer-events:none; }
}

@media screen and (max-width:480px) {
    /* .category-contact ul#menu-footer-contact-footer { padding: 0; }
    .category-contact ul#menu-footer-contact-footer li { display: block; height: 50px; }
    .category-contact ul#menu-footer-contact-footer li:hover { background: $primary;}
    .category-contact ul#menu-footer-contact-footer li a { font-size: 20px; padding:0; display:block; background: transparent; border: none; line-height: 50px;}*/
    .contact-map iframe { height: 200px; }

}

@media screen and (max-width:465px) {
    .contact-map iframe { display: none; }
}
