/* Fonts
   ========================================================================== */


@font-face {
    font-family: 'preloblack';
    src: url('../dist/fonts/prelo_black-webfont.eot');
    src: url('../dist/fonts/prelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_black-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_black-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_black-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_black-webfont.svg#preloblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'preloblack_italic';
    src: url('../dist/fonts/prelo_blackitalic-webfont.eot');
    src: url('../dist/fonts/prelo_blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_blackitalic-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_blackitalic-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_blackitalic-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_blackitalic-webfont.svg#preloblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prelobold';
    src: url('../dist/fonts/prelo_bold-webfont.eot');
    src: url('../dist/fonts/prelo_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_bold-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_bold-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_bold-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_bold-webfont.svg#prelobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'prelobook';
    src: url('../dist/fonts/prelo_book-webfont.eot');
    src: url('../dist/fonts/prelo_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_book-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_book-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_book-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_book-webfont.svg#prelobook') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'preloextrabold';
    src: url('../dist/fonts/prelo_extrabold-webfont.eot');
    src: url('../dist/fonts/prelo_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_extrabold-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_extrabold-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_extrabold-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_extrabold-webfont.svg#preloextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'preloextralight';
    src: url('../dist/fonts/prelo_extralight-webfont.eot');
    src: url('../dist/fonts/prelo_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_extralight-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_extralight-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_extralight-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_extralight-webfont.svg#preloextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'prelolight';
    src: url('../dist/fonts/prelo_light-webfont.eot');
    src: url('../dist/fonts/prelo_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_light-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_light-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_light-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_light-webfont.svg#prelolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prelolight_italic';
    src: url('../dist/fonts/prelo_lightitalic-webfont.eot');
    src: url('../dist/fonts/prelo_lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_lightitalic-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_lightitalic-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_lightitalic-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_lightitalic-webfont.svg#prelolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'prelomedium_italic';
    src: url('../dist/fonts/prelo_mediumitalic-webfont.eot');
    src: url('../dist/fonts/prelo_mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_mediumitalic-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_mediumitalic-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_mediumitalic-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_mediumitalic-webfont.svg#prelomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'prelosemibold';
    src: url('../dist/fonts/prelo_semibold-webfont.eot');
    src: url('../dist/fonts/prelo_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../dist/fonts/prelo_semibold-webfont.woff2') format('woff2'),
         url('../dist/fonts/prelo_semibold-webfont.woff') format('woff'),
         url('../dist/fonts/prelo_semibold-webfont.ttf') format('truetype'),
         url('../dist/fonts/prelo_semibold-webfont.svg#prelosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
