
/*Endless Pools Fitness Aspot on top of mobile menu - fix*/

body.x200-fitness-systems-swim-spa .aspot.img-pan,
body.x500-swimcross-exercise-systems .aspot.img-pan,
body.e500-fitness-systems .aspot.img-pan,
body.e700-fitness-systems .aspot.img-pan,
body.e2000-fitness-systems .aspot.img-pan {
	z-index: 0;
}


// Main menus hidden behind pan and scan aspot on Endless Product pages
.x200-swimcross-exercise-systems,
.x500-swimcross-exercise-systems,
.e500-endless-pools-fitness-systems,
.e700-endless-pools-fitness-systems
{
  section.aspot.img-pan  {
    z-index:0;
  }

}


// Mobile aspots
.endless-pools-fitness-systems div.aspot-content h3 {
  margin-bottom: .5em !important;
}

@media (max-width:1024px) {
  .endless-pools-fitness-systems {
    section.video-header {
      min-height:500px;
      max-height:500px;
      @media(max-width:1024px) {
        background-position:0 !important;
      }
    }
  }
  .x200-swimcross-exercise-systems,
  .x500-swimcross-exercise-systems,
  .e500-endless-pools-fitness-systems,
  .e700-endless-pools-fitness-systems
   {
    .aspot.img-pan {
      z-index: 0 !important;
      background: url(https://watkinsdealer.s3.amazonaws.com/Videos/MPD/endless-pools/650x500-fitness-mobile.jpg);
      background-size:cover !important;
      min-height:500px;
      max-height:500px;
      .pan-item {
        display:none;
      }
    }
  }
}

@media (max-width:1024px) {
  .e500-endless-pools-fitness-systems,
  .e700-endless-pools-fitness-systems
   {
    .aspot.img-pan {
      background: url(https://watkinsdealer.s3.amazonaws.com/Videos/MPD/endless-pools/650x500-fitness-mobile.jpg);
      background-position:100% !important;
    }
  }
}

@media (max-width:1024px) {
  .x200-swimcross-exercise-systems,
  .x500-swimcross-exercise-systems
   {
    .aspot.img-pan {
      background: url(https://watkinsdealer.s3.amazonaws.com/Videos/MPD/endless-pools/650-500-exercise-mobile.jpg);
      background-position:50% 20% !important;
    }
  }
}



// ENDLESS POOLS COLLECTIONS PAGES

body.swimcross-exercise-systems .product-model-section,
body.endless-pools-fitness-systems .product-model-section {
  text-align: center;
}

// ENDLESS POOLS LANDING page

.endless-pools-fitness-systems {

  h3 {
    font-size: 2.3125rem;
  }

  .aspottext.cta-button {
    background-color: #007bf7;
    padding: 1em 2em;
    &:hover {
      background-color: #2285a2 !important;
    }
  }
}

.endless-pools-landing.quiz-block {

 .gform_wrapper .gform_page_footer .button.gform_next_button {
   background-color: #007bf7;
   &:hover {
     background-color: #2285a2;
   }
  }

  .gb-header {
    background: url('https://watkinsdealer.s3.amazonaws.com/Images/Content%20Blocks/Endless%20Pools%20Landing/endless-pools-parallax.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .custom {
      min-height: 600px;
      padding: 7em 0;
      .overlay {
        background: #000;
        opacity: .6;
        z-index: 0;
      }
      .inner {
        position: relative;
      }
    }
  }

  .button, button {
    padding: 1em 2em;
    text-transform: uppercase;
    background-color: #007bf7;
    &:hover {
      background-color: #2285a2;
    }
  }

  .ginput_container {
    margin: 32px 0;
  }
  .gf_progressbar_title {
    color: #fff;
  }

  .gform_body {
    li.fitness-quiz {
      max-width: 450px;
      margin: auto;
      li {
        max-width: 200px;
        margin: auto;
      }
    }
    li.fitness-quiz-2 {
      max-width: 450px;
      margin: auto;
      li {
        max-width: 450px;
        margin: auto;
      }
    }
    li.fitness-quiz-3 {
      max-width: 450px;
      margin: auto;
      li {
        max-width: 190px;
        margin: auto;
      }
    }
    li.fitness-quiz-4 {
      max-width:450px;
      margin: auto;
      .ginput_container {
        margin: 0 0 32px 0;
      }
    }
    label {
      font-size: 24px;
      color: #fff;
      text-align: center;
    }
    h3 {
      // font-size: 2.8em;
      font-size: 2.3125rem;
      letter-spacing: 0.7px;
      text-transform: none;
      color: #fff;
    }
  }
  .gform_footer {
    text-align: center;
  }
  .perfect_quiz .gform_wrapper .gf_page_steps, .gform_wrapper .gform_page_footer {
    text-align: center;
  }
  .gform_confirmation_wrapper {
    color: white;
    font-size: 24px;
    text-align: center;
  }
}

.endless-pools-landing.accessories-block {
  padding: 6em 0;
  .row {
    text-align: center;
    .columns {
      margin-bottom: 4em;
      span {
        font-size: 24px;
        line-height: 1.4;
        padding: 0 1em;
        display: inline-block;
        color: #333;
      }
      img {
        margin-bottom: 1em;
      }
    }
    h2 {
      margin: 0 0 2em;
    }
    .button {
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 2em;
      background-color: #007bf7;
      &:hover {
        background-color: #2285a2;
      }
    }
  }
}


.endless-pools-landing.video-block {
  background: url('https://watkinsdealer.s3.amazonaws.com/Images/Content%20Blocks/Endless%20Pools%20Landing/endless-pools-video-background.jpg');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  .row {
    padding: 6em 0 0;
    .content-container {
      text-align: left;
      padding: 1em;
      margin-top:2em;
    }
    h4 {
        font-size: 2.3125rem;
    }

  }
}

@media (min-width:1024px) {
  .endless-pools-landing.video-block {
    padding: 0 0 6em;
    background-position: 50%;
    .row {
      width:100%;
      height: auto;
      // display: table;
      .vid-column {
        height: auto;
        .video-section {
          max-width: 620px;
          margin: auto;
        }

      }
      .columns {
        // display:table-cell;
        // vertical-align:bottom;
        // float: none;
        .content-container {
          max-width: 600px;
          margin-top: 0;
          padding-top: 34%;
        }
        img {
          padding: 0 !important;

        }
      }
    }
  }
}

.endless-pools-block.collections-block {
  padding: 3em 0;

  img {
    width: 100%;
    height: auto;
  }
  p {
      text-align: center;
      margin: 0 auto;
      max-width: 580px;
      font-weight: bold;
      margin-bottom: 3em;
  }
  .content {
    text-align: center;
    min-height: 500px;
    background-size: cover;
    background-position: 50%;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.62);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  .overlay:hover {
    opacity: 1;
    cursor: pointer;
  }
  .title-container {
    display: inline-block;
    background: #325082;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 2em 0;
    display: table;
    height: 240px;
    @media (min-width:640px) and (max-width:1024px) {
      height: 150px;
    }
    @media (min-width:1230px) and (max-width:1399px) {
      height: 180px;
    }
    @media (min-width:1400px) {
      height: 180px;
    }
    .endless-subtitle {
      display: block;
      font-size: .8em;
    }
  }
   h4 {
    font-size: 2.3125rem;
    color: white;
    letter-spacing: 0.7px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
  }
  .content-container {
    text-align:left;
    padding: 4em;
    @media (min-width:1024px) and (max-width:1300px) {
      padding: 2em;
    }
  }
  ul {
    color: #fff;
    li {
      font-size: 22px;
      margin: 10px 0;
      line-height: 1.4;
    }
  }
}


.endless-pools.intro-block {
  padding: 6em 0;
}


.endless-pools.intro-block h2 {
  // font-size: 2.8em;
  font-size: 2.3125rem;
}

.endless-pools.intro-block .content-wrapper {
  max-width: 750px;
}

.endless-pools.intro-block .general-block-1 .content-wrapper {
  text-align: left;
}

.endless-pools.intro-block .general-block-1 .content-wrapper span {
  font-size: 26px;
  line-height: 1.8;
}

.endless-pools.intro-block .content-wrapper h2 {
  margin-top: -5px;
}

@media (min-width:641px) {
  .endless-pools.intro-block .content-wrapper {
    text-align: right;
    float: right;
    padding: 3em;
  }
  .endless-pools.intro-block .general-block-1 .content-wrapper {
    float:left;
  }

  .endless-pools.intro-block .general-block-0 {
    border-right: 1px solid #ccc;
    position:relative;
  }
  .endless-pools.intro-block .general-block-0:before,
  .endless-pools.intro-block .general-block-0:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #ccc;
    position: absolute;
    right: -8px;
  }
  .endless-pools.intro-block .general-block-0:before {
    top:-14px;
  }
  .endless-pools.intro-block .general-block-0:after {
    bottom: -14px;
  }
  .endless-pools.intro-block .general-block {
    min-height: 200px;
  }
}

@media (min-width:641px) and (max-width: 1024px) {
  .endless-pools.intro-block .general-block-1 .content-wrapper span {
    font-size: 24px;
    line-height: 1.8;
  }
}

@media (max-width:641px) {
  .endless-pools.intro-block .content-wrapper {
    padding: 2em 1em;
  }
  .endless-pools.intro-block h2 {
    text-align: left;
  }
  .endless-pools.intro-block .general-block-0 .content-wrapper {
    border-bottom: 1px solid #ccc;
    position:relative;
  }
  .endless-pools.intro-block .general-block-0 .content-wrapper:before,
  .endless-pools.intro-block .general-block-0 .content-wrapper:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #ccc;
    position: absolute;
    bottom:-8px;
  }
  .endless-pools.intro-block .general-block-0 .content-wrapper:before {
    left: 0;
  }
  .endless-pools.intro-block .general-block-0 .content-wrapper:after {
    right: 0;
  }
  .endless-pools.intro-block .general-block-0:before,
  .endless-pools.intro-block .general-block-0:after {display: none;}
}

.endless-pools.intro-block .general-block-1 .content-wrapper {
  padding: 0 3em 3em 3em;
}

// Endless Pools Landing Page

.endless-pools-fitness-systems {

  .video-block .row .columns .content-container {
    @media (max-width:1024px) {
      padding-top: initial;
      margin:auto;
      padding-top: 1em;
    }
  }

  .endless-pools.intro-block {
    @media(max-width:767px) {
      padding: 0;
    }
    .content-wrapper {
      padding: 1em 3em 3em 3em;
      font-size: 22px;
      @media (max-width:1024px) {
        padding:1em !important;

      }
    }
  }

  .vid-column {
    max-width: 100%;
  }
  .collections-block {
    .unit {
      .content-container {
        @media(max-width:767px) {
          padding: 1em;
          overflow-y: scroll;
        }
        li {
          @media(max-width:767px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}


// Endless Pools Landing
.endless-pools-landing.quiz-block .gform_body li.fitness-quiz li {
 /*  max-width:215px; */
}

.endless-pools-fitness-systems section.video-header,
.home section.video-header {
  min-height: 600px !important;
}
