/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
.scrolloff {
  pointer-events: none;
}

html {
  font-family: 'prelolight', arial, sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

.quote-section {
  padding: 0 !important;
}

/**
* Remove default margin.
*/

body {
  margin: 0;
}

main li {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0.75em !important;
}

//WP ADMIN BAR

#showadminbar {
  // color: #eee !important;
  opacity: .25;
  background-color: #fff !important;
}

#showadminbar:hover {
  opacity: 1;
  background-color: #000 !important;
}

#showadminbar:before {
  color: #333 !important;
}

#wpadminbar {
  background: #000 !important;
}

#wpadminbar .quicklinks .menupop ul li:hover {
  background: #000 !important;
}

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  color: #ccc !important;
}

/* HTML5 display definitions
========================================================================== */

/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

video {
  display: block;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/

[hidden],
template {
  display: none;
}

/* Links
========================================================================== */

/**
* Remove the gray background color from active links in IE 10.
*/

a {
  background-color: transparent;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/

a:active,
a:hover,
a:focus {
  outline: 0;
  color: $white;
}

/* Header Menu Nav Items
========================================================================== */
.main.nav li {
  font-family: 'prelosemibold', Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.2em !important;
}

/* Footer Menu Nav Items
========================================================================== */

.TWLA-pre-footer .menu li a {
    font-size: 20px !important;
}

/* Text-level semantics
========================================================================== */

/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/

abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/

b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/

dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'prelosemibold', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $black;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: $dark;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 12px !important;
  font-weight: normal !important;
  font-family: prelolight !important;
}

.anchor-links-bar {
  opacity: 0;
  transition-duration: .25s;
  display: none;
  margin-left: -1em;
  width: calc(100% + 1em);
}

.anchor-links-bar.stick {
  opacity: 1;
  display: block;
  z-index: 30;
}

.product-slider-box a {
  color: #333 !important;
}

.product-model-slide-title {
  color: #333 !important;
}

a {
  color: $body_link !important;
}

a:hover {
  color: $link-hover !important;
}

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2em;
  margin: 0 0 0 -17px;
  padding: 20px 0;
}

/**
* Address styling not present in IE 8/9.
*/

mark {
  background: #ff0;
  color: $black;
}

/**
* Address inconsistent and variable font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  font-weight: bold;
  vertical-align: baseline;
}

sup {
  top: -1.0em;
  left: 0.2em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */

/**
* Remove border when inside `a` element in IE 8/9/10.
*/

img {
  border: 0;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */

/**
* Address margin not present in IE 8/9 and Safari.
*/

figure {
  margin: 0;
}

/**
* Address differences between Firefox and other browsers.
*/

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

hr {
  border: solid $black;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/

pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Tables
========================================================================== */

/**
* Remove most spacing between table cells.
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

button, .button {
  margin: 10px 0 40px 0;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  margin-top: 0 !important;
}

body {
  background: $white;
  color: $dark;
  padding: 0;
  margin: 0;
  font-family: 'prelolight', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:before, .clearfix:after,
.ginput_container:before, .ginput_container:after,
.gform_body ul:before, .gform_body ul:after {
  content: " ";
  display: table;
}

.clearfix:after,
.ginput_container:after,
.gform_body ul:after {
  clear: both;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

main {
  max-width: 100%;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: $white;
  border: 1px solid $light;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
a {

  color: $body_link;
  text-decoration: none;
  line-height: inherit;
}

a:hover, a:focus {
  color: $link-hover;
}

a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}

p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'prelosemibold', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $dark;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: $dark;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  text-align: center;
  margin: 0 0 40px 0;
}

//h2.title{
//    margin-top: .5em;
//}

p.description {
  text-align: center;
  margin: 0 auto;
  color: $black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.subheader {
  line-height: 1.4;
  color: $dark;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

hr {
  border: solid $light;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: 'prelolight', Courier, monospace;
  font-weight: normal;
  color: $dark;
  background-color: $light;
  border-width: 1px;
  border-style: solid;
  border-color: $light;
  padding: 0.125rem 0.3125rem 0.0625rem;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}

ul.no-bullet {
  margin-left: 0;
}

ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}

ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}

ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}

ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}

ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.4rem;
}

ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/*Lists on Basic Pages */
.page-template-template-double-sidebar ul,
.page-template-template-right-sidebar ul,
.page-template-template-50-50 ul {
  list-style: disc;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: $dark;
  cursor: help;
}

abbr {
  text-transform: none;
}

abbr[title] {
  border-bottom: 1px dotted $light;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.25rem;
}

blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: $medium-dark;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: $medium-dark;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid $light;
  padding: 0.625rem 0.75rem;
}

.vcard li {
  margin: 0;
  display: block;
}

.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

.vevent .summary {
  font-weight: bold;
}

.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 3.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.8375rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

/* General */
.text-centered {
  text-align: center;
}

pre {
  text-align: left;
}

.page .wrap.container,
.archive.woocommerce-page .wrap.container {
  padding: 20px 0 60px;
}

.single .wrap.container {
  padding-top: 0;
}

.wrap.container a:hover,
.wrap.container a:focus {
  color: $dark;
  text-decoration: none;
}

.tab-content .image img {
  width: 532px;
  max-width: 100%;
}

/* TRADEMARKS */
/* REGISTERED TRADE MARK */
sup.registermark {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  line-height: normal;
  font-family: sans-serif !important;
  font-weight: normal;
  font-style: normal;
  vertical-align: super;
  top: -.25em;
  // left: .1em;
  left: 0;
  text-rendering: optimizeLegibility;

}

r {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 1;
}

r:after {
  display: inline;
  content: '\00AE';
  vertical-align: top;
  font-size: 18px;
}

li r:after {
  font-size: 16px;
}

p.product-model-slide-title r:after {
  font-size: 12px;
}

.prod-specs-table r:after {
  font-size: 12px;
}

.product-description r:after {
  font-size: 14px;
}

.cat-banner-text r:after {
  font-size: 12px;
}

.cat-banner-text > h2 r:after {
  font-size: 16px;
}

ul.products li h3 r:after {
  font-size: 12px;
}

/*TRADE MARK*/
tm {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

tm {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 1;
}

tm:after {
  display: inline;
  content: 'TM';
  vertical-align: top;
  font-size: 12px;
}

li tm:after {
  font-size: 16px;
}

p.product-model-slide-title tm:after {
  font-size: 12px;
}

.prod-specs-table tm:after {
  font-size: 12px;
}

.product-description tm:after {
  font-size: 14px;
}

.cat-banner-text tm:after {
  font-size: 12px;
}

.cat-banner-text > h2 tm:after {
  font-size: 16px;
}

ul.products li h3 tm:after {
  font-size: 12px;
}

/*SM*/
sm {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

sm:after {
  display: inline;
  content: 'SM';
  vertical-align: top;
  font-size: 12px;
}

sm {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

sm {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 1;
}

sm:after {
  display: inline;
  content: 'TM';
  vertical-align: top;
  font-size: 12px;
}

li sm:after {
  font-size: 16px;
}

p.product-model-slide-title sm:after {
  font-size: 12px;
}

.prod-specs-table sm:after {
  font-size: 12px;
}

.product-description sm:after {
  font-size: 14px;
}

.cat-banner-text sm:after {
  font-size: 12px;
}

.cat-banner-text > h2 sm:after {
  font-size: 16px;
}

ul.products li h3 sm:after {
  font-size: 12px;
}

/* Containers */

.container {
  max-width: 1800px !important;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /*max-width: 100em;*/
  // max-width: 1400px !important;
  max-width: 1800px !important;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  /*width: auto;
  margin-left: -1.875em;
  margin-right: -1.875em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; */
}

.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  padding-left: 1em !important;
  padding-right: 1em !important;

  float: left;
}

//[class*="column"] + [class*="column"]:last-child {
//    float: right; }

[class*="column"] + [class*="column"].end {
  float: left;
}

/* Breadcrumbs */

.breadcrumbs a {
  color: #5a5a5a !important;
}

.breadcrumbs a:hover {
  color: $black !important;
}

/* Clearing Styles */
.clearing-thumbs, [data-clearing] {
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.clearing-thumbs:before, .clearing-thumbs:after, [data-clearing]:before, [data-clearing]:after {
  content: " ";
  display: table;
}

.clearing-thumbs:after, [data-clearing]:after {
  clear: both;
}

.clearing-thumbs li, [data-clearing] li {
  float: left;
  margin-right: 10px;
}

.clearing-thumbs[class*="block-grid-"] li, [data-clearing][class*="block-grid-"] li {
  margin-right: 0;
}

.clearing-blackout {
  background: $dark;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
}

.clearing-blackout .clearing-close {
  display: block;
}

.clearing-container {
  position: relative;
  z-index: 998;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.clearing-touch-label {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $medium;
  font-size: 0.6em;
}

.visible-img {
  height: 95%;
  position: relative;
}

.visible-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  max-height: 100%;
  max-width: 100%;
}

.clearing-caption {
  color: $medium-light;
  font-size: 0.875em;
  line-height: 1.3;
  margin-bottom: 0;
  text-align: center;
  bottom: 0;
  background: $dark;
  width: 100%;
  padding: 10px 30px 20px;
  position: absolute;
  left: 0;
}

.clearing-close {
  z-index: 999;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 30px;
  line-height: 1;
  color: $medium-light;
  display: none;
}

.clearing-close:hover, .clearing-close:focus {
  color: $medium-light;
}

.clearing-assembled .clearing-container {
  height: 100%;
}

.clearing-assembled .clearing-container .carousel > ul {
  display: none;
}

.clearing-feature li {
  display: none;
}

.clearing-feature li.clearing-featured-img {
  display: block;
}

@media only screen and (min-width: 40.063em) {
  .clearing-main-prev,
  .clearing-main-next {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
  }
  .clearing-main-prev > span,
  .clearing-main-next > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 0;
    height: 0;
    border: solid 12px;
  }
  .clearing-main-prev > span:hover,
  .clearing-main-next > span:hover {
    opacity: 0.8;
  }

  .clearing-main-prev {
    left: 0;
  }
  .clearing-main-prev > span {
    left: 5px;
    border-color: transparent;
    border-right-color: $medium-light;
  }

  .clearing-main-next {
    right: 0;
  }
  .clearing-main-next > span {
    border-color: transparent;
    border-left-color: $medium-light;
  }

  .clearing-main-prev.disabled,
  .clearing-main-next.disabled {
    opacity: 0.3;
  }

  .clearing-assembled .clearing-container .carousel {
    background: rgba(51, 51, 51, 0.8);
    height: 120px;
    margin-top: 10px;
    text-align: center;
  }
  .clearing-assembled .clearing-container .carousel > ul {
    display: inline-block;
    z-index: 999;
    height: 100%;
    position: relative;
    float: none;
  }
  .clearing-assembled .clearing-container .carousel > ul li {
    display: block;
    width: 120px;
    min-height: inherit;
    float: left;
    overflow: hidden;
    margin-right: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
    clear: none;
  }
  .clearing-assembled .clearing-container .carousel > ul li.fix-height img {
    height: 100%;
    max-width: none;
  }
  .clearing-assembled .clearing-container .carousel > ul li a.th {
    border: none;
    box-shadow: none;
    display: block;
  }
  .clearing-assembled .clearing-container .carousel > ul li img {
    cursor: pointer !important;
    width: 100% !important;
  }
  .clearing-assembled .clearing-container .carousel > ul li.visible {
    opacity: 1;
  }
  .clearing-assembled .clearing-container .carousel > ul li:hover {
    opacity: 0.8;
  }
  .clearing-assembled .clearing-container .visible-img {
    background: $dark;
    overflow: hidden;
    height: 85%;
  }

  .clearing-close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding-left: 0;
    padding-top: 0;
  }
}

/*
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
* Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: $black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .show-for-print {
    display: block;
  }

  .hide-for-print {
    display: none;
  }

  table.show-for-print {
    display: table !important;
  }

  thead.show-for-print {
    display: table-header-group !important;
  }

  tbody.show-for-print {
    display: table-row-group !important;
  }

  tr.show-for-print {
    display: table-row !important;
  }

  td.show-for-print {
    display: table-cell !important;
  }

  th.show-for-print {
    display: table-cell !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid $medium-dark;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}

/* Print visibility */
@media print {
  .show-for-print {
    display: block;
  }

  .hide-for-print {
    display: none;
  }

  table.show-for-print {
    display: table !important;
  }

  thead.show-for-print {
    display: table-header-group !important;
  }

  tbody.show-for-print {
    display: table-row-group !important;
  }

  tr.show-for-print {
    display: table-row !important;
  }

  td.show-for-print {
    display: table-cell !important;
  }

  th.show-for-print {
    display: table-cell !important;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: $light;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: $secondary;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/***********************************************************************/
/************************* RESPONSIVE STYLES ***************************/
/***********************************************************************/

@media screen and (max-width: 1024px) {

  h2.title, p.description {
    padding: 0 30px;
  }
  .ui-tabs-vertical .ui-tabs-nav {
    margin-left: 0;
  }
  .ui-tabs-vertical .ui-tabs-nav .tab-content {
    padding-left: 0 !important;
  }

  .tab-content .image {
    text-align: center;
  }

}

@media screen and (max-width: 480px) {
  .ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
  }

}

/***********************************************************************/
/************************* 404 PAGE ***************************/
/***********************************************************************/

body.error404 div.wrap.container {
  width: 100%;
}

body.error404 div.alert.alert-warning {
  text-align: center;
}

body.error404 div.alert.alert-warning p {
  font-size: 1.2em !important;
}

body.error404 div.alert.alert-warning h2.404-error.one {
  line-height: 1;
  margin-top: 2em !important;
}

body.error404 div.alert.alert-warning h2.404-error.two {
  line-height: 1;
  margin-top: 0
}

body.error404 div.hot-tub-img img {
  margin: -6em auto 4em;
  width: 100%;
  max-width: 720px;

}

/***********************************************************************/
/************************* FLIP EFFECT; ***************************/
/***********************************************************************/

/* Container box to set the sides relative to */
.cube {
  // width: 250px;
  // height: 100px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* The two faces of the cube */
.default-state,
.active-state {
  // height: 100px;
}

/* Position the faces */
.default-state {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}

.flip-to-top .active-state {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
}

.flip-to-bottom .active-state {
  -webkit-transform: rotateX(-90deg) translateZ(-50px);
  -moz-transform: rotateX(-90deg) translateZ(-50px);
  -o-transform: rotateX(-90deg) translateZ(-50px);
  -ms-transform: rotateX(-90deg) translateZ(-50px);
  transform: rotateX(-90deg) translateZ(-50px);
}

/* Rotate the cube */
.cube.flip-to-top:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}

.cube.flip-to-bottom:hover {
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  transform: rotateX(89deg);
}

/* END CORE CSS */
/* Demo styling */

.cube {
  text-align: center;
  margin: 0 auto;
}

.default-state,
.active-state {
  background: #2ecc71;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  line-height: 100px;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}

.cube:hover .default-state {
  background: #27af61;
}

.active-state {
  background: #27af61;
}

#flipto {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  color: #ccc;
}
