/* Forms
========================================================================== */

/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/

/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/



button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/

button {
    overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/

button,
select {
    text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/

input {
    line-height: normal;
}

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/

fieldset {
    border: 1px solid $medium-light;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/

textarea {
    overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/

optgroup {
    font-weight: bold;
}

.ginput_container {
    margin: 0 0 32px;
}

.gform_wrapper textarea {
    min-height: 50px;
    height: 216px;
}

select {
    width: 100%; }

/* Misc Forms Styles */
button, .button,
.gform_wrapper button, .gform_wrapper .button,
.gform_wrapper button:hover, .gform_wrapper .button:hover  { /* Important things are used to overwrite woocommerce */
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    // font-family: 'preloblack', Helvetica, Roboto, Arial, sans-serif;
    font-family: Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0 40px 0!important;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0!important;
    display: inline-block;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 1rem;
    background-color: $secondary;
    border-color: $primary;
    color: $white!important;
    transition: background-color 300ms ease-out; }
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
   background-color: $link;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background-color: $primary-nav-bg-hover;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #2285a2; }
button:hover, button:focus, .button:hover, .button:focus {
    color: $white; }

/*
button.secondary, .button.secondary {
    background-color: #e9e9e9;
    border-color: $medium-light;
    color: $dark; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: $medium-light; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    color: $dark; }
button.success, .button.success {
    background-color: #5da423;
    border-color: #4a831c;
    color: $white; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #4a831c; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    color: $white; }
button.alert, .button.alert {
    background-color: #c60f13;
    border-color: #9e0c0f;
    color: $white; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #9e0c0f; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    color: $white; }
button.warning, .button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: $white; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
    background-color: #cf6e0e; }
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
    color: $white; }
button.info, .button.info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: $dark; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
    background-color: #61b6d9; }
button.info:hover, button.info:focus, .button.info:hover, .button.info:focus {
    color: $white; }
button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
button.radius, .button.radius {
    border-radius: 0px; }
button.round, .button.round {
    border-radius: 1000px; }
button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #2ba6cb;
    border-color: #2285a2;
    color: $white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #2285a2; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    color: $white; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #2ba6cb; }
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
    background-color: #e9e9e9;
    border-color: $medium-light;
    color: $dark;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: $medium-light; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    color: $dark; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #e9e9e9; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
    background-color: #5da423;
    border-color: #4a831c;
    color: $white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #4a831c; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    color: $white; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #5da423; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
    background-color: #c60f13;
    border-color: #9e0c0f;
    color: $white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #9e0c0f; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    color: $white; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #c60f13; }
button.disabled.warning, button[disabled].warning, .button.disabled.warning, .button[disabled].warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: $white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    background-color: #cf6e0e; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    color: $white; }
button.disabled.warning:hover, button.disabled.warning:focus, button[disabled].warning:hover, button[disabled].warning:focus, .button.disabled.warning:hover, .button.disabled.warning:focus, .button[disabled].warning:hover, .button[disabled].warning:focus {
    background-color: #f08a24; }
button.disabled.info, button[disabled].info, .button.disabled.info, .button[disabled].info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: $dark;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    background-color: #61b6d9; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    color: $white; }
button.disabled.info:hover, button.disabled.info:focus, button[disabled].info:hover, button[disabled].info:focus, .button.disabled.info:hover, .button.disabled.info:focus, .button[disabled].info:hover, .button[disabled].info:focus {
    background-color: #a0d3e8; }
*/
button::-moz-focus-inner {
    border: 0;
    padding: 0; }

@media only screen and (min-width: 40.063em) {
    button, .button {
        display: inline-block; } }
/* Standard Forms */
form {
    margin: 0 0 1rem; }

/* Using forms within rows, we need to set some defaults */
form .row .row {
    margin: 0 -0.5rem; }
form .row .row .column,
form .row .row .columns {
    padding: 0 0.5rem; }
form .row .row.collapse {
    margin: 0; }
form .row .row.collapse .column,
form .row .row.collapse .columns {
    padding: 0; }
form .row .row.collapse input {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
    padding-left: 0.5rem; }

/* Label Styles */
label {
    font-size: 0.875rem;
    color: $dark;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    /* Styles for required inputs */ }
label.right {
    float: none !important;
    text-align: right; }
label.inline {
    margin: 0 0 1rem 0;
    padding: 0.5625rem 0; }
label small {
    text-transform: capitalize;
    color: $dark; }

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px;
    overflow: visible;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem; }

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: none; }

.prefix.button {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: none; }

.prefix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }

.postfix.button.radius {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px; }

.prefix.button.round {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }

.postfix.button.round {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
span.prefix, label.prefix {
    background: $light;
    border-right: none;
    color: $dark;
    border-color: $medium-light; }

span.postfix, label.postfix {
    background: $light;
    border-left: none;
    color: $dark;
    border-color: $medium-light; }

.gform_body ul {
    list-style: none;
    margin: 0;
}

.gform_footer input {
    margin: 0 0 30px;
}

/* We use this to get basic styling on all basic form elements */
.gform_wrapper input[type="text"], .gform_wrapper input[type="password"], .gform_wrapper input[type="date"], .gform_wrapper input[type="datetime"], .gform_wrapper input[type="datetime-local"], .gform_wrapper input[type="month"], .gform_wrapper input[type="week"], .gform_wrapper input[type="email"], .gform_wrapper input[type="number"], .gform_wrapper input[type="search"],.gform_wrapper input[type="tel"],.gform_wrapper input[type="time"],.gform_wrapper input[type="url"],.gform_wrapper input[type="color"],.gform_wrapper textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: $white;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: $medium-light;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: $medium-light;
    display: block;
    font-size: 0.875rem;
    padding: 0 1.5rem;
    height: 50px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear; }

.gform_wrapper textarea {
    padding: 1.5rem !important;
}
/*
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    background: #fafafa;
    border-color: $medium-dark;
    outline: none; }
input[type="text"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, textarea:disabled {
    background-color: $light;
    cursor: default; }
input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
    background-color: $light;
    cursor: default; }
input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, input[type="color"].radius, textarea.radius {
    border-radius: 0px; }
*/
form .row .prefix-radius.row.collapse input,
form .row .prefix-radius.row.collapse textarea,
form .row .prefix-radius.row.collapse select,
form .row .prefix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px; }
form .row .prefix-radius.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
form .row .postfix-radius.row.collapse input,
form .row .postfix-radius.row.collapse textarea,
form .row .postfix-radius.row.collapse select,
form .row .postfix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
form .row .postfix-radius.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px; }
form .row .prefix-round.row.collapse input,
form .row .prefix-round.row.collapse textarea,
form .row .prefix-round.row.collapse select,
form .row .prefix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }
form .row .prefix-round.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
form .row .postfix-round.row.collapse input,
form .row .postfix-round.row.collapse textarea,
form .row .postfix-round.row.collapse select,
form .row .postfix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px; }
form .row .postfix-round.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px; }

input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0; }

/* Respect enforced amount of rows for textarea */
.gform_wrapper textarea[rows] {
    height: 216px !important; }

/* Not allow resize out of parent */
.gform_wrapper textarea {
    max-width: 100%; }

/* Add height value for select elements to match text input height */
select {
    -webkit-appearance: none !important;
    border-radius: 0;
    /*background-color: $light;*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: $medium-light;
    padding: 0.5rem;
    font-size: 0.875rem;
    // font-family: 'preloblack', Helvetica, Roboto, Arial, sans-serif;
    font-family: Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 50px; }
select::-ms-expand {
    display: none; }
select.radius {
    border-radius: 0px; }
select:hover {
    background-color: $light;
    border-color: $medium-dark; }
select:disabled {
    background-color: $light;
    cursor: default; }
select[multiple] {
    height: auto; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 0 1rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
    width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
    border: 1px solid $light;
    padding: 1.25rem;
    margin: 1.125rem 0; }
fieldset legend {
    font-weight: bold;
    background: $white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

/* Error Handling */
[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: $white; }
[data-abide] span.error, [data-abide] small.error {
    display: none; }

span.error, small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: $white; }

.error input,
.error textarea,
.error select {
    margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
    margin-bottom: 1rem; }
.error label,
.error label.error {
    color: #c60f13; }
.error small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: $white; }
.error > label > small {
    color: $dark;
    background: transparent;
    padding: 0;
    text-transform: capitalize;
    font-style: normal;
    font-size: 60%;
    margin: 0;
    display: inline; }
.error span.error-message {
    display: block; }

input.error,
textarea.error,
select.error {
    margin-bottom: 0; }

label.error {
    color: #c60f13; }

#input_21_13 li {
  display:inline-block;
  padding-top: 15px;
}

// FORM TEMPLATE

.page-template-template-form {
  @media only screen and (min-width:1024px) {
    .row {
      max-width: 1400px !important;
    }

    h2 {
      margin-bottom: 1.5em;
    }

    p {
      font-size: 24px;
      line-height: 36px;
    }

    .left-block-50-50 {
      p {
        font-size: 24px;
        line-height: 48px;
      }
    }

    .left-column {
      @media (min-width:1024px) {
        // padding-right: 2em;
        padding-top: 4em !important;
      }
    }

    div.aspot-content {
      // top: 78% !important;
      top: initial !important;
      bottom: 25px;
      right: 45%;
      width: 40% !important;
      h2 {
        font-size: 3.2rem;
        text-transform: none;
      }
    }
    .floating-column {
      box-shadow: .5875rem -0.175rem 2.0625rem rgba(0,0,0,0.2);
      // margin-top: -19%;
      margin-top: -24rem;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #fff;
      padding: 2em;
      z-index: 10;
    }
    .floating-column .right-block-50-50 {
      padding: 2em 4em;
    }
    .left-block-50-50 {
      @media (min-width:1024px) {
        padding-right: 4em;
      }
    }
  }
}

li#field_1_7.column {
    padding-left: 0px !important;
}



/* autocomplete */
.ui-widget.ui-widget-content {
  // border: 1px solid #c5c5c5;
  // list-style: none;
  // cursor: pointer;
}

.ui-widget-content {
  // background: #ffffff;
  // color: #333333;
}

.ui-menu-item {
  padding-left: 10px;
}

.ui-menu {
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  overflow: scroll;

}

.autocomplete-suggestions {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
   box-shadow: none !important;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;

}

.autocomplete-selected {
  background: #F0F0F0;
}


.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

/* grey background for no read */
.no-write
 {
    background-color: #d0d0d0 !important;
}

.autocomplete-no-suggestion {
  background: #ec870f;
  color: #ffffff;
  padding: 2px 5px;

}

.autocomplete-no-suggestion a {
    color: #364c4c !important;
}

.autocomplete-no-suggestion a:hover {
  color: #364c4c !important;
}

.autocomplete-no-suggestion p {
  display: inline;
  font-family: 'prelosemibold', Helvetica, Roboto, Arial, sans-serif;
}
