@media only screen and (min-width:1024px){
  .header2.header10 {
    .logo-background {
      height: 166px;
      width: 425px;
      position: absolute;
      /* left: 0; */
      position: absolute;
      height: 160px;
      width: 345px;
      background: #fff;
      z-index: 10;
      left: 0px;
      /* left: 0; */
      /* top: -23px; */
      border-radius: 0px 0px 150px 0;
      -moz-border-radius: 0px 0px 150px 0;
      -webkit-border-radius: 0px 0px 150px 0;
      -webkit-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
      -moz-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
      box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
    }
  }
}
