@media only screen and (min-width:1024px){
    .header2 header.mobile{
        display: none;
    }
    .header2 header.desktop.nav{
        display: block;
    }
    .header2 header .container{
        max-width: 1800px;
    }
   .header2 header {
        background-color: $header-primary-bg !important;
        background: $header-bg-image;
    		background-repeat: $header-bg-image-repeat;
    		background-size: $header-bg-image-size;
    }
    .header2 header p{
        margin: 0;
    }
    .header2 header.desktop.nav{
        position: relative;
        padding-top: 42px;
    }
    .header2 nav.utilities-nav{
        position: absolute;
        top: 0;
        height: 42px;
        width: 100%;
        background-color: $utility-nav-bg;
    }
    .header2 nav.utilities-nav ul{
        margin: 0!important;
        display: inline-block;
        vertical-align: top;
    }
    .header2 nav.utilities-nav ul li:first-of-type{
        border-left: 1px solid rgba(255,255,255,.1);
    }
    .header2 nav.utilities-nav ul li{
        display: block;
        float: left;
        border-right: 1px solid rgba(255,255,255,.1);
    }
    .header2 nav.utilities-nav ul li a:hover{
        background-color: $utility-nav-bg-hover;
        color: $util-nav-link-action!important;
    }
    .header2 nav.utilities-nav ul li a{
        display: block;
        width: 100%;
        height: 100%;
        padding: .5em 1em;
        color: $util-nav-link!important;
    }
    .header2 div.cart-search-combo{
        height: 42px;
        display: inline-block;
        vertical-align: top;
    }
    .header2 a.cart{
        display: block;
        height: 42px;
        width: 40px;
        position: relative;
        padding: 0 0.45em;
        float: left;
        border-right: 1px solid rgba(255,255,255,.1);
    }
	.header2 .cart-search-combo a.cart:hover{
        background-color: $utility-nav-bg-hover;
    }
    .header2 a.cart img{
        width: 100%;
        margin-top: .65em;
    }
    .header2 a.cart .the-cart-quantity{
        position: absolute;
        top: 9px;
        right: 3px;
        background-color: black;
        color: white;
        padding: 0.65em .35em;
        border-radius: 50%;
        line-height: 0px;
        font-size: 0.5em;
    }
    .header2 a.the-search-icon{
        display: block;
        text-indent: -999em;
        background-image: url('//watkinsdealer.s3.amazonaws.com/Images/Icons/lupa.png');
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        float: left;
        height: 42px;
        width: 40px;
        border-right: 1px solid rgba(255,255,255,.1);
    }
	.header2 a.the-search-icon:hover{
        background-color:$utility-nav-bg-hover;
    }
    .header2 .head-text{
        color: $util-nav-link;
        margin: 0!important;
        padding-top: .5em;
    }
    .header2 .float-right{
        float: right;
    }
    .header2 h1{
        text-indent: -999em;
        background-size: cover;
        background-position: 50% 50%;
        display: inline-block;
        width: 220px;
        height: 40px;
        vertical-align: top;
        margin: .75em 0;
        position: relative;
    }
    .header2 h1 a{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .header2 nav.global{
        display: inline-block;
        vertical-align: top;
        padding-top: 2.5em;
        padding-left: 0em;
        width: calc(100% - 223px);
    }
    .header2 ul.main.nav{
        margin: 0;
        text-align: center;
    }
    .header2 ul.main.nav li{
        display: inline-block;
//        float: left;
        list-style: none;
        position: relative;
    }
    .header2 ul.main.nav li a:hover{
        color: $primary-nav-link-action!important;
    }
    .header2 ul.main.nav li a{
        color: $primary-nav-link!important;
        margin: 0 .75em;
        font-size: 1.1em;
    }
    .header2 ul.main.nav li ul li ul:before{
        content: "";
        width: auto;
        height: auto;
    }
   .header2 ul.main.nav li ul:before{
        content: '▲';
        position: absolute;
        top: -23px;
        font-size: 20px;
        opacity: .95;
        width: 100%;
        height: auto;
        left: 10px;
    }
    .header2 ul.main.nav li:hover > ul{
        display: block;
    }
   .header2 ul.main.nav ul{
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        height: auto;
        width: 300px;
        margin: 0!important;
        margin-top: 15px!important;
        text-align: left;
        z-index: 5;
        background-color: $primary-nav-bg;
        opacity: .99;
    }
    .header2 ul.main.nav ul li span{
        position: absolute;
        top: 1px;
        right: 3px;
        width: 31px;
        height: 34px;
        background-image: url("../dist/img/dropdown-triangle.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 14px;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        cursor: pointer;
    }
    .header2 ul.main.nav ul li{
        display: block;
        width: 100%;
        float: none;
//        padding: 0 1em;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
   .header2 ul.main.nav ul li a:hover{
        background-color: $primary-nav-bg-hover;
    }
   .header2 ul.main.nav ul li a{
        padding: .25em 1em;
        margin: 0!important;
        display: block;
        padding-right: 2em;
        font-size: 1em;
    }
    .header2 ul.main.nav ul ul{
        display: none!important;
        position: relative;
        width: 100%;
        margin: 0!important;
        left: 0 !important;
    }
    .header2 ul.main.nav ul ul li a{
        padding-left: 1.75em;
    }
    .header2 ul.main.nav ul ul ul li a{
        padding-left: 2.25em;
    }
    .header2 ul.main.nav ul ul li:last-of-type{
        border-bottom: 0px;
    }
   .header2 ul.main.nav ul ul li:first-of-type{
        border-top: 1px solid rgba(255,255,255,.1);
    }
    .header2 ul.main.nav ul li.active > span:first-of-type{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .header2 ul.main.nav ul li.active > ul:first-of-type{
        display: block!important;
    }

    //new changes to fix head-text area -ds-todd 5/20/16

    .header2 h1 {
      position: absolute;
    }
    p.head-text {
      float: left;
    }
    .header2 nav.global {
      width: 100%;
    }
    .header2 ul.main.nav {
      text-align:right;
    }
    .header2 header .container {
      height: 95px;
    }

    .header2 ul.main.nav > li:last-of-type ul.sub-menu {
      left: -180px;
    }

    .header2 ul.main.nav > li:last-of-type ul:before {
      left: 75%;
    }
    .header2 ul.main.nav {
      padding-right: 0;
    }
    //end changes
    // HEAD TEXT IS GETTING CUT OFF IN UTILITY BAR
    .header2.header10 p.head-text {
      @media (min-width: 1024px) and (max-width: 1480px) {
          display: none;
      }
    }


}
.ds-nav-container {
  padding-left: 1em;
  padding-right: 0;
}

@media only screen and (max-width:1076px){
  .header2 ul.main.nav {
    padding-right: 0 !important;
  }
}


@media only screen and (min-width:1250px) {
  .ds-nav-container {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

// @media only screen and (max-width:1448px) {
@media only screen and (max-width:1800px) {
  .utilities-nav .ds-nav-container,
  .utilities-nav .container,
  .utilities .container,
  .utilities .ds-nav-container {
    padding: 0 3em;
  }
  .header2 ul.main.nav {
    padding-right: 3em;
  }
  .header2 h1 {
    margin-left:1.1em;
  }
}


@media only screen and (min-width:1024px){
  .header2.header10 {

    .logo-background {
      background: $header_logo_bg;
      height: 166px;
      width: 425px;
      position: absolute;
      position: absolute;
      height: 160px;
      width: 345px;

      z-index: 10;
      left: 0px;
      top:0;
      border-radius: 0px 0px 150px 0;
      -moz-border-radius: 0px 0px 150px 0;
      -webkit-border-radius: 0px 0px 150px 0;
      -webkit-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
      -moz-box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
      box-shadow: 10px 10px 44px -5px rgba(0,0,0,0.15);
    }
    h1 {
      margin: 1.2em 1em;
    }
    p.head-text {
      float: right;
      padding-right: .5em;
      position: absolute;
      left: 390px;
    }
    header .container {
      height: 75px;
    }
    nav.global {
      padding-top: 1.5em;
    }
  }
}
