// global //
.fancybox-nav {
     display: none !important;
}
// hot-tub-product //
   .single-product .fancybox-wrap.fancybox-desktop.fancybox-type-iframe.fancybox-opened{
     width:1200px !important;
     max-width: 90%;
}

 .single-product .fancybox-type-iframe .fancybox-inner {
     width:100% !important;
 }
// reviews //
.quote-section .fancybox{
     color:  #fe5;
 }
.single-360-view .the-header{
    display: none!important;
}
.spin-border {
    text-align:center;
    margin:0 auto;
    width:auto!important;
    background:transparent;
    height:auto!important;
    border-radius:0px;
    padding: 0px;
}
#spritespin {
    margin: 0 auto; 
}
#spritespin img { 
    max-width:100% !important; 
}
.spritespin-stage img { 
    cursor: url('http://code.vostrel.net/jquery.reel.cur'),move 
}
// single-product //
//a.fancybox {
//     margin-left: 20px;
//     margin-bottom: .5em;
//     position: absolute!important;
//}
//    a.fancybox {
//      margin-left: 0px;
//      margin-bottom: 0em;
//}