/*GENERAL CONTENT SECTIONS*******************************/

/*Tidal Fit Standard Features Tabbed Section*/
section.tidalfit.standard.tab-section {
  background: #00B1B0;
}
section.tidalfit.standard.tab-section .gb-header {
  padding-top: 2em;
}

section.tidalfit.standard.tab-section  h2 {
  text-align:center;
  color: #fff;
  margin-bottom: 50px;
}

section.tidalfit.standard.tab-section p,
section.tidalfit.standard.tab-section li,
section.tidalfit.standard.tab-section h3,
section.tidalfit.standard.tab-section h4
 {
  color: #fff !important;
}

section.tidalfit.standard.tab-section li {
  text-align:left;
}

section.tidalfit.standard.tab-section div.tabs .row.tab-nav ul {
  width: 100%;
  text-align: center;
}

/*section.tidalfit.standard.tab-section div.tabs .row ul li.ui-state-default {
  border: 2px solid white;
  margin: 0 3px;
  width: 19%;
}*/
/*section.tidalfit.standard.tab-section div.tabs .row ul li.ui-state-default a{
  padding: 19px 97px;
}*/

section.tidalfit.standard.tab-section div.tabs .tab-content,
.single-product .prod-description .tab-content
{
    background-color: transparent;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav,
.single-product .prod-description .ui-tabs-nav
{
    text-align: center;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li,
.single-product .prod-description .ui-tabs-nav li
{
    background-color: transparent;
    text-align: center;
    /*border: 4px solid $white;*/
    padding: 0;
    /*margin-right: 4.16666%;*/
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li a:hover,
.single-product .prod-description .ui-tabs-nav li a:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li:last-child a,
.single-product .prod-description .ui-tabs-nav li:last-child a
{
    margin-right: 0 !important;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li:first-child,
.single-product .prod-description .ui-tabs-nav li:first-child
{
    /*margin-left: 0 !important;   */
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li a,
.single-product .prod-description .ui-tabs-nav li a
{
    padding: 10px 0;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none !important;
    font-weight: bold;
    border: 4px solid #fff !important;
    margin-right: 3%;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li a.more-than-5,
.single-product .prod-description .ui-tabs-nav li a.more-than-5
{
    margin-bottom: 10px;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li:nth-child(3n) a.more-than-5,
.single-product .prod-description .ui-tabs-nav li:nth-child(3n) a.more-than-5
{
    margin-right: 0;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    background-color: #fff !important;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li.ui-state-active:before,
.single-product .prod-description .ui-tabs-nav li.ui-state-active:before
{
    background-color: transparent;
}

section.tidalfit.standard.tab-section div.tabs .ui-tabs-nav li.ui-state-active a,
.single-product .prod-description .ui-tabs-nav li.ui-state-active a
{
    color: #333 !important;
    text-decoration: none;
}



section.tidalfit.standard.tab-section div.tabs .tab-content,
.single-product .prod-description .tab-content
{
    padding: 60px 0;
}
