
div.aspot-creator {
    position: relative;
//    margin-left: -1em;
//    width: calc(100% + 2em);


    img{
        width: 100%;
        height: auto;
    }

    .container{
        max-width: 1400px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin:  auto auto;
    }
} // close a-spot creator

.aspot-color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
div.aspot-content {
//    max-width: 720px;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
    text-align: center!important;
    min-height: 280px;
    z-index: 2;

    h2{
        color: white;
        line-height: 1.1;
        text-transform: uppercase;
        font-size: 2rem;
    }
    h3{
        height: 0;
    //    overflow: hidden;
    //    display: none;
        color: white;
        font-weight: normal!important;
        font-size: 20px;
        margin-bottom: 1em;
        margin-bottom: 0.5em !important;
    }
    a:hover{
//        height: 0;
//        overflow: hidden;
        background-color: $secondary;
        transition-duration: .25s;
    }
    a {
    //    display: none;
        background-color: $primary;
        color: white;
        padding: .5em 1em;
    }
    span a{
        background-color: transparent;
        padding: 0;
    }

    span a:hover{
        background-color: transparent;
    }
    .breadcrumbs {
        color: white;
        font-weight: bold;
        margin: 1.1em auto;
        text-transform: uppercase;
        font-style: italic;
    }
    .breadcrumbs a {
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
        font-style: italic;
    }
}
.hide-on-tablet {
    display: none;
    z-index: 2;
}
.hide-on-desktop {
    z-index: 3;
    div.aspot-content a {
        background-color: #016699;
        color: white;
        padding: 0.5em 1em;
        display: block;
        margin-top: 40px;
    }
}

.aspot-subheading {
    font-weight: 900;
    line-height: 1.1;
    margin: 20px 0;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0 !important
}
.aspot-page-title {
    margin-bottom: 1em;
}
.video-header {
    z-index: 1;
}
.video-header .overlay.aspot-overlay-color {
    z-index: 0;
}
.text-container-lg {
    width: 100% !important;
}
.text-container-med {
    width: 66% !important;
}
.text-container-sm {
    width: 33% !important;
}
.aspot-h3-large {
    font-size:75px !important;
}
.aspot-h3-medium {
    font-size:40px !important;
}
.aspottext.cta-button {
    margin-top: 8px;
    display: inline-block !important;
    background-color: #016699;
    color: white;
    padding: 0.5em 1em;
    font-family: Helvetica, Roboto, Arial, sans-serif;
}
@media only screen and (min-width:1024px){
    .hide-on-tablet {
        display: block;
    }
    .hide-on-desktop {
        display: none;
    }
//    div.aspot-content.center{
//        text-align: center!important;
//    }
//    div.aspot-content.tleft{
//        text-align: left!important;
//    }
//    div.aspot-content.tright{
//        text-align: right!important;
//    }
    div.aspot-content h2.no-title {
        display: none;
    }
    div.aspot-content a {
        height: auto;
        display: inline!important;
    }

    div.aspot-content h3 {
        height: auto;
        display: block;
    }
//    div.aspot-content.vpbottom{
//        top: 50%;
//    }
//    div.aspot-content.vptop{
//        bottom: 50%;
//    }
    div.aspot-content.left {
        right: 50%;
        text-align: left!important;
    }
    div.aspot-content.right {
       left: 0;
        text-align: right!important;
    }

    .line-qty-4 {
        top: -5% !important;
    }
    .line-qty-3.h3-medium {
      top: 20% !important;
    }
    .line-qty-2.h3-medium {
      top: 33% !important;
    }
    .line-qty-1 {
      top: 50% !important;
    }
    .line-qty-4.h3-large .cta-button {
      margin-top: -15px;
  }


}
